@model TutorOnline.DataAccess.BackendUser

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout_BackendUser.cshtml";
}

<h2>Xóa người dùng</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Ảnh:
        </dt>
        @if (String.IsNullOrEmpty(Model.Photo))
        {
            <dd>
                @("N/A")
            </dd>
        }
        else
        {
            <dd>
                <img src="~/Content/Uploads/Images/@Model.Photo" style="height:70px;width:70px;" />
            </dd>
        }

        <dt>
            Tên đăng nhập:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserName)
        </dd>

        <dt>
            Chức vụ:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Role.RoleName)
        </dd>

        <dt>
            Họ:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>

        <dt>
            Tên:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>

        <dt>
            Ngày sinh:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BirthDate.Value.ToShortDateString())
        </dd>

        <dt>
            Giới tính:
        </dt>

        <dd>
            @if (Model.Gender == 1)
            {
                @("Nam")
            }
            else
            {
                @("Nữ")
            }
        </dd>

        <dt>
            Địa chỉ:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Address)
        </dd>

        <dt>
            Email:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            Thành phố:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.City)
        </dd>

        <dt>
            Quốc gia:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Country)
        </dd>

        <dt>
            Số điện thoại:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PhoneNumber)
        </dd>

        <dt>
            Mô tả:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

    </dl>
    <h3>Bạn có chắc chắn muốn xóa người dùng này?</h3>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()
        <div class="container">
            <div class="form-actions no-color col-md-offset-1">
                <input type="submit" value="Xóa" class="btn btn-danger" />
                @Html.ActionLink("Quay lại", "Index", null, new { @class = "btn btn-default" })
            </div>
        </div>
        
    }
</div>
