@model PagedList.IPagedList<TutorOnline.DataAccess.User>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout_BackendUser.cshtml";
    ViewBag.Count = 0;
}


<h2>Quản lý người dùng</h2>
<div>
    
    @Html.ActionLink("Tạo mới", "Create")
    @using (Html.BeginForm("Index", "Users", FormMethod.Get))
    {
    <p>
        <table cellspacing="2">
            <tr>
                <th class="col-lg-6">Tim kiếm</th>
                <th class="col-lg-3">Chức vụ</th>
                <th class="col-lg-3">Giới tính</th>
            </tr>
            <tr>
                <td>@Html.TextBox("SearchString", null, htmlAttributes: new { @class = "form-control" }) </td>
                <td>@Html.DropDownList("roleString", null,"All", htmlAttributes: new { @class = "form-control" })</td>
                <td>@Html.DropDownList("genderString", null, "All", htmlAttributes: new { @class = "form-control" })</td>
            </tr>
        </table>
              
        <input type="submit" value="Tìm" class="btn"/>
    </p>
    }
    
</div>
    Có @ViewBag.totalRecord kết quả tìm kiếm
    <table class="table table-striped">
        <tr> 
            <th>
                STT
            </th>
            <th>
                Tài khoản
            </th>      
            <th>
                Họ
            </th>
            <th>
                Tên
            </th>                      
            <th>
                Email
            </th>
            <th>
                Skype
            </th>                    
            <th>
                Số điện thoại
            </th>
            <th>
                Số dư
            </th>
            <th>
                Chức vụ
            </th>
            <th></th>
        </tr>

    @foreach (var item in Model) {
        <tr>
            <td>
                @(ViewBag.Count++ + 1)              
            </td>
            <td>
                @Html.ActionLink(item.Username, "Details", new { id = item.Id })       
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>              
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SkypeID)
            </td>             
            <td>
                @Html.DisplayFor(modelItem => item.PhoneNumber)
            </td>       
            <td>
                @Html.DisplayFor(modelItem => item.Wallet)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Role.RoleName)
            </td>
        </tr>
    }

    </table>
<br />
Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("Index",
    new { page, searchString = ViewBag.SearchStr, roleString = ViewBag.RoleStr, genderString = ViewBag.GenderStr }))
