@model PagedList.IPagedList<TutorOnline.Web.Models.TransactionListViewModels>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
@{
    ViewBag.Title = "AccountantIndex";
    Layout = "~/Views/Shared/_Layout_BackendUser.cshtml";
    ViewBag.Count = 1;
}

<h2>Transaction Management</h2>
<p>
    @using (Html.BeginForm("Index", "Accountant", FormMethod.Get))
    {
    <p>
        <table cellspacing="1">
            <tr>
                <th class="col-lg-3">Tìm kiếm</th>
                <th class="col-lg-1"></th>
                <th class="col-lg-2">Vai trò</th>
                <th class="col-lg-1"></th>
                <th class="col-lg-2">Từ ngày</th>
                <th class="col-lg-1"></th>
                <th class="col-lg-2">Đến ngày</th>
            </tr>
            <tr>
                <td>@Html.TextBox("SearchString", null, htmlAttributes: new { @class = "form-control" }) </td>
                <td></td>
                <td>@Html.DropDownList("roleString", null, "All", htmlAttributes: new { @class = "form-control" })</td>
                <td></td>
                <td>@Html.TextBox("StartDate", null, htmlAttributes: new { @class = "form-control" })</td>
                <td></td>
                <td>@Html.TextBox("EndDate", null, htmlAttributes: new { @class = "form-control" })</td>
            </tr>
        </table>

        <input type="submit" name="Search" value="Tìm kiếm" class="btn" />
    </p>

 
if (Model.FirstOrDefault() != null)
{
<h4>Có @ViewBag.totalRecord kết quả tìm kiếm </h4>
    <table class="table table-striped">
        <tr>
            <th>
                Stt
            </th>
            <th>
                Số giao dịch
            </th>
            <th>
                Nội dung giao dịch
            </th>
            <th>
                Số tiền
            </th>
            <th>
                Ngày thực hiện
            </th>
            <th>
                Tên tài khoản
            </th>
            <th>
                Loại người dùng
            </th> 
            <th>
                Họ và tên
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @(ViewBag.Count++)  
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TransactionId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Content)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Amount)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TranDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UserName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UserTypeName)
                </td>  
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
            </tr>
        }

    </table>
<br />
    <div>Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount</div>
    @Html.PagedListPager(Model, page => Url.Action("Index",
    new { page, searchString = ViewBag.SearchStr, roleString = ViewBag.RoleStr, Startdate = ViewBag.StartDate, EndDate = ViewBag.EndDate }))
    <input type="submit" name="Export" value="Export Excel" class="btn" /> @ViewBag.Message
        }
    }


