@model PagedList.IPagedList<TutorOnline.DataAccess.Transaction>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
@{
    ViewBag.Title = "AccountantIndex";
    Layout = "~/Views/Shared/_Layout_BackendUser.cshtml";
    ViewBag.Count = 1;
}

<h2>Transaction Management</h2>
<p>
    @Html.ActionLink("Create New", "Create")
    @using (Html.BeginForm("Index", "Accountant", FormMethod.Get))
    {
    <p>
        <table cellspacing="1">
            <tr>
                <th class="col-lg-3">Tìm kiếm</th>
                <th class="col-lg-1"></th>
                <th class="col-lg-2">Vai trò</th>
                <th class="col-lg-1"></th>
                <th class="col-lg-2">Từ ngày</th>
                <th class="col-lg-1"></th>
                <th class="col-lg-2">Đến ngày</th>
            </tr>
            <tr>
                <td>@Html.TextBox("SearchString", null, htmlAttributes: new { @class = "form-control" }) </td>
                <td></td>
                <td>@Html.DropDownList("roleString", null, "All", htmlAttributes: new { @class = "form-control" })</td>
                <td></td>
                <td>@Html.TextBox("StartDate", null, htmlAttributes: new { @class = "form-control" })</td>
                <td></td>
                <td>@Html.TextBox("EndDate", null, htmlAttributes: new { @class = "form-control" })</td>
            </tr>
        </table>

        <input type="submit" value="Tìm kiếm" class="btn" />
    </p>
    }

    </hr>

<h4>Có @ViewBag.totalRecord kết quả tìm kiếm </h4>
    <table class="table table-striped">
        <tr>
            <th>
                Stt
            </th>
            <th>
                ID người dùng
            </th>
            <th>
                Nội dung giao dịch
            </th>
            <th>
                Số tiền
            </th>
            <th>
                Ngày thực hiện
            </th>
            <th>
                Tên tài khoản
            </th>
            <th>
                Họ
            </th>
            <th>
                Tên
            </th>   
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @(ViewBag.Count++)  
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UserID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Content)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Amount)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TranDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.User.Username)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.User.LastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.User.FirstName)
                </td>   
            </tr>
        }

    </table>
<br />
Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
@Html.PagedListPager(Model, page => Url.Action("Index",
    new { page, searchString = ViewBag.SearchStr, roleString = ViewBag.RoleStr, genderString = ViewBag.GenderStr }))

