@model PagedList.IPagedList<TutorOnline.Web.Models.TransUserViewModel>
@using PagedList.Mvc;
@using TutorOnline.Common;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
@{
    TranStringCommon TranString = new TranStringCommon();
    ViewBag.Title = TranString.SearchTitle;
    Layout = "~/Views/Shared/_Layout_BackendUser.cshtml";
    ViewBag.Count = 1;
}

<h2>@TranString.SearchTitle</h2>
<div>

    @using (Html.BeginForm("Search", "Accountant", FormMethod.Get))
    {
        <p>
            <table cellspacing="2">
                <tr>
                    <th class="col-lg-5">@TranString.Search</th>
                    <th class="col-lg-1"></th>
                    <th class="col-lg-2">@TranString.UserType</th>
                    <th class="col-lg-1"></th>
                    <th class="col-lg-2">@TranString.Gender</th>
                </tr>
                <tr>
                    <td>@Html.TextBox("SearchString", null, htmlAttributes: new { @class = "form-control" }) </td>
                    <td></td>
                    <td>@Html.DropDownList("roleString", null, "All", htmlAttributes: new { @class = "form-control" })</td>
                    <td></td>
                    <td>@Html.DropDownList("genderString", null, "All", htmlAttributes: new { @class = "form-control" })</td>
                </tr>
            </table>
            <p></p>
            <input type="submit" value="@TranString.Search" class="btn" />
        </p>
    }

</div>
@if (Model.FirstOrDefault() != null)
{
    <h4>@TranString.Have @ViewBag.totalRecord @TranString.Result</h4>
    <table class="table table-striped">
        <tr>
            <th>
                @TranString.Number
            </th>
            <th>
                @TranString.Account
            </th>
            <th>
                @TranString.Name
            </th>
            <th>
                @TranString.Balance
            </th>
            <th>
                @TranString.UserType
            </th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @(ViewBag.Count++)
                </td>
                <td>
                    @Html.ActionLink(item.Username, "Create", new { RoleName = item.RoleName, id = item.Id, list = Model })
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LastName) @Html.DisplayFor(modelItem => item.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Balance)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RoleName)
                </td>
            </tr>
        }
    </table>
    <br />
    @TranString.Page  @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber)  @TranString.Of  @Model.PageCount
    @Html.PagedListPager(Model, page => Url.Action("Search",
    new { page, searchString = ViewBag.SearchStr, roleString = ViewBag.RoleStr, genderString = ViewBag.GenderStr }))
}