@model PagedList.IPagedList<TutorOnline.Web.Models.TransUserViewModel>
@using PagedList.Mvc;
@using TutorOnline.Common;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
@{
    TranStringCommon TranString = new TranStringCommon();
    ViewBag.Title = TranString.SearchTitle;
    Layout = "~/Views/Shared/_Layout_BackendUser.cshtml";
}

  <h2>@TranString.SearchTitle</h2>

<div>

    @using (Html.BeginForm("Search", "Accountant", FormMethod.Get))
    {
        
            <table cellspacing="2">
                <tr>
                    <th class="col-lg-5">@TranString.Search</th>
                    <th class="col-lg-1"></th>
                    <th class="col-lg-2">Tìm kiếm</th>
                    <th class="col-lg-1"></th>
                    <th class="col-lg-2">@TranString.Gender</th>
                </tr>
                <tr>
                    <td>@Html.TextBox("SearchString", null, htmlAttributes: new { @class = "form-control" }) </td>
                    <td></td>
                    <td>@Html.DropDownList("roleString", null, "Tất cả", htmlAttributes: new { @class = "form-control" })</td>
                    <td></td>
                    <td>@Html.DropDownList("genderString", null, "Tất cả", htmlAttributes: new { @class = "form-control" })</td>
                </tr>
            </table>
            <p></p>
            <input type="submit" name="Search" value="@TranString.Search" class="btn" />
       
    }

</div>
@if (ViewBag.searchClick == true)
{
    <h4>@ViewBag.totalRecord</h4>
}
@if (Model.FirstOrDefault() != null)
{
    <table class="table table-striped">
        <tr>
            <th>
                @TranString.Number
            </th>
            <th>
                @TranString.Account
            </th>
            <th>
                @TranString.Name
            </th>
            <th>
                @TranString.Balance (VND)
            </th>
            <th>
                @TranString.UserType
            </th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @(ViewBag.Count++)
                </td>
                <td>
                    @Html.ActionLink(item.Username, "Create", new { RoleName = item.RoleName, id = item.Id, list = Model })
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LastName) @Html.DisplayFor(modelItem => item.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Balance)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RoleName)
                </td>
            </tr>
        }
    </table>
    <br />
    @TranString.Page  @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber)  @TranString.Of  @Model.PageCount @TranString.Page1
    @Html.PagedListPager(Model, page => Url.Action("Search",
    new { page, searchString = ViewBag.SearchStr, roleString = ViewBag.RoleStr, genderString = ViewBag.GenderStr }))
}
<br />
@Html.ActionLink(TranString.Back, "Index", new { area = "" }, new { @class = "btn btn-info" })


<script>
    $(document).ready(function () {
        if(@ViewBag.Message != ""){
            alert(@ViewBag.Message)
        }
    })
</script>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}