@model System.Collections.Generic.List<TutorOnline.Web.Models.QuestionTestViewModels>
@using TutorOnline.Common;
@{
    ViewBag.Title = "Test";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/Scripts/jquery-3.1.1.js"></script>
<script src="~/Scripts/bootstrap.js"></script>
<script>

    $(document).ready(function () {
        $(document).on('click', '#results', function (e) {
            if (!$("input[name=q1]:checked").val() ||
            !$("input[name=q2]:checked").val() ||
            !$("input[name=q3]:checked").val() ||
            !$("input[name=q4]:checked").val() ||
            !$("input[name=q5]:checked").val()
            ) {
                alert("You're not done yet!");
            } else {
                var list = [
                        parseInt($("input[name=q1]:checked").val()),
                        parseInt($("input[name=q2]:checked").val()),
                        parseInt($("input[name=q3]:checked").val()),
                        parseInt($("input[name=q4]:checked").val()),
                        parseInt($("input[name=q5]:checked").val())
                ];
                var model = { ListAnswer: list,
                    LessonId: @Model[0].LessonId,
                            };
                var url = "@Url.Action("CheckScore", "Student")";
                $.ajax({
                    type: "POST",
                    data: JSON.stringify(model),
                    url: url,
                    contentType: "application/json; charset=utf-8",
                    dataType: 'json',
                    success: function (response) {
                        $("#Score").text(response.registeredSubject);
                    }
                });
            }
            
        });
    });
</script>

<style>
    .answers li {
        list-style: upper-alpha;
    }

    label {
        margin-left: 0.5em;
        cursor: pointer;
    }

    #results {
        background: #dddada;
        color: 000000;
        padding: 3px;
        text-align: center;
        width: 200px;
        cursor: pointer;
        border: 1px solid gray;
    }

        #results:hover {
            background: #3d91b8;
            color: #ffffff;
            padding: 3px;
            text-align: center;
            width: 200px;
            cursor: pointer;
            border: 1px solid gray;
        }

    #categorylist {
        margin-top: 6px;
        display: none;
    }

    #closing {
        display: none;
        font-style: italic;
    }
</style>
<div class="container">
    @for (int i = 0; i < Model.Count; i++)
    {
        string q = "q" + (i + 1);
        <p class="question">@(i + 1). @Model[i].Content</p>
        <ul class="answers">
            <input type="radio" name="@q" value="0" id="qa">
            <label for="qa">@Model[i].ListAnswer[0].Content</label>
            <br />
            <input type="radio" name="@q" value="1" id="qb">
            <label for="qb">@Model[i].ListAnswer[1].Content</label>
            <br />
            <input type="radio" name="@q" value="2" id="qc">
            <label for="qc">@Model[i].ListAnswer[2].Content</label>
            <br />
            <input type="radio" name="@q" value="3" id="qd">
            <label for="qd">@Model[i].ListAnswer[3].Content</label>
            <br />
        </ul> }


    <div id="results">
        Submit
    </div>

    <div>
        <p id="Score"></p>
    </div>

</div>


