@model PagedList.IPagedList<TutorOnline.DataAccess.Transaction>
@using PagedList.Mvc;
@using TutorOnline.Common;
@{
    TranStringCommon TranString = new TranStringCommon();
    ViewBag.Title = "ViewTransaction";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
<link href="~/Scripts/bootstrap-datepicker.css" rel="stylesheet" />
<link href="~/Scripts/bootstrap-datepicker.standalone.css" rel="stylesheet" />
<section>
    <div class="col-lg-offset-1 col-lg-10">
        @using (Html.BeginForm("ViewTransaction", "Student", FormMethod.Get))
        {
            <br />
            <table class="row">
                @*<div class="row">*@
                <tr>
                    <th class="col-lg-4" style="font-weight: bold;">
                        Nội dung giao dịch
                    </th>
                    <th class="col-lg-offset-1 col-lg-3" style="font-weight: bold;">
                        @TranString.StartDate
                    </th>
                    <th class="col-lg-offset-1 col-lg-3" style="font-weight: bold;">
                        @TranString.EndDate
                    </th>
                </tr>
                @*</div>*@
                @*<div class="row">*@
                <tr>
                    <th class="col-lg-4">
                        @Html.TextBox("Content", null, htmlAttributes: new { @class = "form-control" })
                    </th>
                    <th class="col-lg-offset-1 col-lg-3">
                        @Html.TextBox("StartDate", null, htmlAttributes: new { @class = "form-control datepicker" })
                    </th>
                    <th class="col-lg-offset-1 col-lg-3">
                        @Html.TextBox("EndDate", null, htmlAttributes: new { @class = "form-control datepicker" })
                    </th>
                </tr>
                @*</div>*@
            </table>

            <p></p>
            <input type="submit" name="Search" value="@TranString.Search" class="btn" />
                <br />
            if (ViewBag.searchClick == true)
            {
                <h4>@ViewBag.totalRecord</h4>
            }

            if (Model.FirstOrDefault() != null)
            {
                <table class="table table-striped">
                    <tr>
                        <th>
                            @TranString.Number
                        </th>
                        <th>
                            @TranString.TransId
                        </th>
                        <th>
                            @TranString.Content
                        </th>
                        <th>
                            @TranString.Amount
                        </th>
                        <th>
                            @TranString.TransDate
                        </th>
                    </tr>

                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @(ViewBag.Count++)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.TransactionId)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Content)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Amount)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.TranDate)
                            </td>
                        </tr>
                    }

                </table>
                <br />
                <div>@TranString.Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) @TranString.Of @Model.PageCount @TranString.Page1</div>
                @Html.PagedListPager(Model, page => Url.Action("Index", new { page, searchString = ViewBag.SearchStr, roleString = ViewBag.RoleStr, Startdate = ViewBag.StartDate, EndDate = ViewBag.EndDate }))
            }
        }
    </div>
</section>
<script src="~/Scripts/jquery-3.1.1.js"></script>
<script src="~/Scripts/bootstrap.js"></script>
<script src="~/Scripts/bootstrap-datepicker.js"></script>


<script>
    $('.datepicker').datepicker({
        format: 'dd/mm/yyyy',
    });

</script>