@model PagedList.IPagedList< TutorOnline.Web.Models.SubjectsViewModels>
@using PagedList.Mvc;
<link href="~/content/pagedlist.css" rel="stylesheet" type="text/css" />
<link href="~/Scripts/discover.css" rel="stylesheet" />
<link href="~/Scripts/entry-main.css" rel="stylesheet" />
@{
    ViewBag.title = "viewcategory";
    //Layout = "~/Views/Shared/_Layout.cshtml";
    //layout = "~/views/shared/_layout_backenduser.cshtml";
}
<style>
    body {
        background-color: #e0dbd9;
    }


</style>
<body>
    <h2>viewcategory</h2>
    <div id="khoahoc" class="container">
        <div class="row">
            <h3 class="text-center text-muted">khóa học</h3>
        </div>
        <br />
        @for (int i = 0; i < ViewBag.totalRecord; i = i + 4)
        {<div class="row">
        @for (int j = 0; j <= 3; j++)
        {
            if (i + j < ViewBag.totalRecord)
            {
                @*<a href="ViewCategory?SubjectId=@Model[i + j].SubjectId">xx
                    <div class="col-md-3">
                        <div class="card" style="width: 20rem;">
                            <img class="card-img-top" src="~/image/TutorOnline_Icon.png" alt="card image cap">
                            <div class="card-block"  id="card-block">
                                <h4 class="card-title">@Html.DisplayFor(modelitem => Model[i + j].SubjectName)</h4>
                                <p class="card-subtitle mb-2 text-muted">@Html.DisplayFor(modelitem => Model[i + j].Purpose)</p>
                            </div>
                        </div>
                    </div>
                </a>*@
                <div class="slider-list--item--3nEQO col-md-3" style="margin-right: 0px;">
                    <div class="merchandising-course-card--card--Ef5aV merchandising-course-card--card__list-view--13LYX">
                        <a href="SubjectDetail?SubjectId=@Model[i + j].SubjectId" class="merchandising-course-card--mask--2NGzX">
                            <span class="merchandising-course-card--card__options--2slCk">
                                <img src="~/image/Course.jpg" alt="@Model[i + j].SubjectName" class="merchandising-course-card--card__image--2oGQE" height="240" width="240">
                            </span>
                            <span class="merchandising-course-card--card__details--1G7gB">
                                <span class="merchandising-course-card--details__name--3h_2f">@Model[i + j].SubjectName</span>
                                <div class="merchandising-course-card--card__instructor-titles--IJ4_5">
                                    <p class="dib" data-purpose="course-card-instructor-titles"> @Model[i + j].Purpose </p>
                                </div> 
                            </span>
                        </a>
                    </div>
                </div>
            }
        }
    </div>
        }
    </div>
</body>

<script src="~/Scripts/analytics.js"></script>
<script src="~/Scripts/channel-dashboard.js"></script>