@model List<List<TutorOnline.Web.Models.SubjectsViewModels>>
<link href="~/content/pagedlist.css" rel="stylesheet" type="text/css" />
<link href="~/Scripts/discover.css" rel="stylesheet" />
<link href="~/Scripts/entry-main.css" rel="stylesheet" />
@{
    ViewBag.title = "view Student Subject";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    body {
        background: none;
    }
.center{
    font-weight: bold;
    text-align: center !important;
    }
    hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}
</style>
<body>
    <h3 class="center">KHÓA HỌC CỦA BẠN</h3>
    <hr />
    <div id="khoahoc" class="container">
        @if (Model.Count != 0)
        {
            for (int i = 0; i < Model.Count; i++)
            {
                <div class="col-lg-11">
                    @if (Model[i].Count != 0)
                    {
                        <div class="row">
                            <h3 class="text-center text-muted">@Model[i][0].CategoryName</h3>
                        </div>
                        <br />
                        for (int j = 0; j < Model[i].Count; j++)
                        {
                            <div class="slider col-md-3" style="margin-right: 0px;">
                                <div class="merchand-course-card card-listview">
                                    <a href="SubjectDetail?SubjectId=@Model[i][j].SubjectId" class="cardmask">
                                        <span class="cardoption">
                                            @if (Model[i][j].Photo != null)
                                            {
                                                <img src="~/Content/Uploads/Images/@Model[i][j].Photo" alt="@Model[i][j].SubjectName" class="cardimage" height="200" width="240">
                                            }
                                            else
                                            {
                                                <img src="~/image/Course.jpg" alt="@Model[i][j].SubjectName" class="cardimage" height="200" width="240">
                                            }
                                            
                                        </span>
                                        <span class="carddetail">
                                            <span class="cardname">@Model[i][j].SubjectName</span>
                                            <div class="cardinstit">
                                                <p class="dib" data-purpose="cardinstit"> @Model[i][j].Purpose </p>
                                            </div>
                                        </span>
                                    </a>
                                </div>
                            </div>
                        }
                    }
                </div>
            }
            <div class="col-lg-12"><a class="btn btn-success navbar-btn" href="@Url.Action("Index", "Student")">Quay lại</a></div>
        }
        else
        {
            <h2 class="center"> Bạn chưa đăng ký khóa học nào.</h2>
            <div class="center">@Html.ActionLink("Đến khóa học", "ViewAllCategory", null, htmlAttributes: new { @class = "btn btn-success" }) <a class="btn btn-success" href="@Url.Action("Index", "Student")">Quay lại</a></div>
            <br />
        }
    </div>
</body>

<script src="~/Scripts/analytics.js"></script>
<script src="~/Scripts/channel-dashboard.js"></script>