@model PagedList.IPagedList< TutorOnline.Web.Models.SubjectsViewModels>
@using PagedList.Mvc;
<link href="~/content/pagedlist.css" rel="stylesheet" type="text/css" />
<link href="~/Scripts/discover.css" rel="stylesheet" />
<link href="~/Scripts/entry-main.css" rel="stylesheet" />
@{
    ViewBag.title = "viewcategory";
    Layout = "~/Views/Shared/_Layout_Student.cshtml";
}
<style>
    body {
        background: none;
    }
.center{
    font-weight: bold;
    text-align: center !important;
    }
    hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}
</style>


<body>
    <h3 class="center">KHÓA HỌC THEO MÔN</h3>
    <hr />
    <div id="khoahoc" class="container">
        @if (Model.Count != 0)
        {
            <div class="row">
                <h3 class="text-center text-muted">@Model[0].CategoryName</h3>
            </div>
        }
        <br />
        @for (int i = 0; i < ViewBag.totalRecord; i = i + 4)
        {
            <div class="row">
                @for (int j = 0; j <= 3; j++)
                {
                    if (i + j < ViewBag.totalRecord)
                    {
                        @*<a href="ViewCategory?SubjectId=@Model[i + j].SubjectId">xx
                            <div class="col-md-3">
                                <div class="card" style="width: 20rem;">
                                    <img class="card-img-top" src="~/image/TutorOnline_Icon.png" alt="card image cap">
                                    <div class="card-block"  id="card-block">
                                        <h4 class="card-title">@Html.DisplayFor(modelitem => Model[i + j].SubjectName)</h4>
                                        <p class="card-subtitle mb-2 text-muted">@Html.DisplayFor(modelitem => Model[i + j].Purpose)</p>
                                    </div>
                                </div>
                            </div>
                        </a>*@
                        <div class="slider col-md-3" style="margin-right: 0px;">
                            <div class="merchand-course-card card-listview">
                                <a href="SubjectDetail?SubjectId=@Model[i + j].SubjectId" class="cardmask">
                                    <span class="cardoption">
                                        @if (Model[i + j].Photo != null)
                                        {
                                            <img src="~/Content/Uploads/Images/@Model[i+j].Photo" alt="@Model[i+j].SubjectName" class="cardimage" height="180" width="240">
                                        }
                                        else
                                        {
                                            <img src="~/image/Course.jpg" alt="@Model[i+j].SubjectName" class="cardimage" height="180" width="240">
                                        }
                                    </span>
                                    <span class="carddetail">
                                        <span class="cardname">@Model[i + j].SubjectName</span>
                                        <div class="cardinstit">
                                            <p class="dib" data-purpose="cardinstit"> @Model[i + j].Purpose </p>
                                        </div> 
                                    </span>
                                </a>
                            </div>
                        </div>
                    }
                }
            </div>
        }
        <p>Trang @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) trong tổng số @Model.PageCount trang</p>
        @Html.PagedListPager(Model, page => Url.Action("Index",
    new { page, searchString = ViewBag.SearchStr, roleString = ViewBag.RoleStr, genderString = ViewBag.GenderStr }))
        <a class="btn btn-success navbar-btn" href="@Url.Action("ViewAllCategory", "Student")">Quay lại</a>
    </div>
</body>
