@model List<List<TutorOnline.Web.Models.SubjectsViewModels>>
<link href="~/content/pagedlist.css" rel="stylesheet" type="text/css" />

<link href="~/Content/discover.css" rel="stylesheet" />
<link href="~/Content/entry-main.css" rel="stylesheet" />
@{
    ViewBag.title = "viewcategory";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    body {
        background: none;
    }
    .txtlink {
    color: lawngreen;
    text-decoration: none;
    margin-left: 20px;
    font-size: 16px;
    }
    .center{
    font-weight: bold;
    text-align: center !important;
    }
    hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}
</style>

<body>
    <h3 class="center">KHÓA HỌC</h3>
    <hr />
    <div id="khoahoc" class="container">
        @for (int i = 0; i < Model.Count; i++)
        {
            <div class="row">
                @if (Model[i].Count != 0)
                {
                    <div class="row">
                        <h3 class="text-center text-muted">@Model[i][0].CategoryName</h3>

                    </div>
                    
                    int count;
                    if(Model[i].Count < 5)
                    {
                        count = Model[i].Count; ;
                    } else { count = 5; }
                    for (int j = 0; j < count; j++)
                    {
                        <div class="slider col-md-3" style="margin-right: 0px;">
                            <div class="merchand-course-card card-listview">
                                <a href="SubjectDetail?SubjectId=@Model[i][j].SubjectId" class="cardmask">
                                    <span class="cardoption">
                                        @if (Model[i][j].Photo != null)
                                        {
                                            <img src="~/Content/Uploads/Images/@Model[i][j].Photo" alt="@Model[i][j].SubjectName" class="cardimage" height="180" width="240">
                                        }
                                        else
                                        {
                                            <img src="~/image/Course.jpg" alt="@Model[i][j].SubjectName" class="cardimage" height="180" width="240">
                                        }
                                    </span>
                                    <span class="carddetail">
                                        <span class="cardname">@Model[i][j].SubjectName</span>
                                        <div class="cardinstit">
                                            <p class="dib" data-purpose="cardinstit"> @Model[i][j].Purpose </p>
                                        </div>
                                    </span>
                                </a>
                            </div>
                        </div>
                    }
                    <div class="col-lg-12" style="text-align: right">
                        <a href="@Url.Action("ViewCategory","Student",new {CategoryId = Model[i][0].CategoryId })" class="btn btn-info">Xem tất cả</a>
                    </div>
                }

            </div>
        }
        <a class="btn btn-success navbar-btn" href="@Url.Action("index", "Student")">Quay lại</a>
    </div>
    
</body>

