@{
    Layout = "~/Views/Shared/_Layout.cshtml";

    ViewBag.Title = "HomePage";
}

    <!-- Container (TrangChu Section) -->
<div id="TrangChu">
    <div class="carousel fade-carousel slide" data-ride="carousel" data-interval="4000" id="bs-carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#bs-carousel" data-slide-to="0" class="active"></li>
            <li data-target="#bs-carousel" data-slide-to="1"></li>
            <li data-target="#bs-carousel" data-slide-to="2"></li>
            <li data-target="#bs-carousel" data-slide-to="3"></li>
            <li data-target="#bs-carousel" data-slide-to="4"></li>
        </ol>
        <!-- Wrapper for slides -->
        <div class="carousel-inner">
            <div class="item slides active">
                <!-- Overlay -->
                <div class="overlay"></div>
                <div class="slide-1"></div>
                <div class="hero">
                    <hgroup>
                        <h1>We are creative</h1>
                        <h3>Thành công không phải là đích đến mà là cả một hành trình.</h3>
                    </hgroup>
                    @Html.ActionLink("Đăng ký ngay", "Register", "Account", new { area = "" }, new { @class = "btn btn-hero btn-lg" })
                </div>
            </div>
            <div class="item slides">
                <!-- Overlay -->
                <div class="overlay"></div>
                <div class="slide-2"></div>
                <div class="hero">
                    <hgroup>
                        <h1>We are smart</h1>
                        <h3>Thành công không phải là đích đến mà là cả một hành trình.</h3>
                    </hgroup>
                    @Html.ActionLink("Đăng ký ngay", "Register", "Account", new { area = "" }, new { @class = "btn btn-hero btn-lg" })
                </div>
            </div>
            <div class="item slides">
                <!-- Overlay -->
                <div class="overlay"></div>
                <div class="slide-3"></div>
                <div class="hero">
                    <hgroup>
                        <h1>We are amazing</h1>
                        <h3>Thành công không phải là đích đến mà là cả một hành trình.</h3>
                    </hgroup>
                    @Html.ActionLink("Đăng ký ngay", "Register", "Account", new { area = "" }, new { @class = "btn btn-hero btn-lg" })
                </div>
            </div>
            <div class="item slides">
                <!-- Overlay -->
                <div class="overlay"></div>
                <div class="slide-4"></div>
                <div class="hero">
                    <hgroup>
                        <h1>We are convenient</h1>
                        <h3>Thành công không phải là đích đến mà là cả một hành trình.</h3>
                    </hgroup>
                    @Html.ActionLink("Đăng ký ngay", "Register", "Account", new { area = "" }, new { @class = "btn btn-hero btn-lg" })
                </div>
            </div>
            <div class="item slides">
                <!-- Overlay -->
                <div class="overlay"></div>
                <div class="slide-5"></div>
                <div class="hero">
                    <hgroup>
                        <h1>We are flexible</h1>
                        <h3>Thành công không phải là đích đến mà là cả một hành trình.</h3>
                    </hgroup>
                    @Html.ActionLink("Đăng ký ngay", "Register", "Account", new { area = "" }, new { @class = "btn btn-hero btn-lg" })
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Container (GioiThieu Section) -->
<div id="GioiThieu" style="background-color: #E7F3D3;">
    <!--#F5F5F5#D4E7F3-->
    <div class="row">
        <div class="col-md-5"></div>
        <div class="col-md-2">
            <h3 class="text-center text-muted" style="margin-top: 20px;"><strong>GIỚI THIỆU</strong></h3>
            <hr style="border-color:black; border-style:solid;" />
        </div>
        <div class="col-md-5"></div>
    </div>
    <div class="row" style="padding: 0px 0px 20px 0px;">
        <div class="col-md-6" style="padding: 0px 0px 0px 100px;">
            <h3 class="text-center text-muted"><strong style="font-family: 'Antique';">Flying colors team</strong></h3>
            <div class="row">
                <div class="col-md-4">
                    <img src="~/Image/VuongTV1.jpg" alt="VuongTV" class="img-circle" height="150" width="150">
                </div>
                <div class="col-md-4">
                    <img src="~/Image/LamVT1.jpg" alt="LamVT" class="img-circle" height="150" width="150">
                </div>
                <div class="col-md-4">
                    <img src="~/Image/HuyenNTK1.jpg" alt="HuyenNTK" class="img-circle" height="150" width="150">
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-md-4">
                    <img src="~/Image/LongNB1.jpg" alt="LongNB" class="img-circle" height="150" width="150">
                </div>
                <div class="col-md-4">
                    <img src="~/Image/PhatNH1.png" alt="PhatNH" class="img-circle" height="150" width="150">
                </div>
                <div class="col-md-4">
                    <img src="~/Image/ThuongNTH1.jpg" alt="ThuongNTH" class="img-circle" height="150" width="150">
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <h3 class="text-center text-muted"><strong style="font-family: 'Antique';">Sự khác biệt của Tutor Online</strong></h3>
            <div class="row" align="center">
                <div id="introduce" class="carousel slide text-center" data-ride="carousel" style="height: 345px; width: 540px; color: black;">
                    <!-- Indicators -->
                    <ol class="carousel-indicators">
                        <li data-target="#introduce" data-slide-to="0" class="active"></li>
                        <li data-target="#introduce" data-slide-to="1"></li>
                        <li data-target="#introduce" data-slide-to="2"></li>
                        <li data-target="#introduce" data-slide-to="3"></li>
                        <li data-target="#introduce" data-slide-to="4"></li>
                    </ol>
                    <!-- Wrapper for slides -->
                    <div class="carousel-inner" style="font-family:Times New Roman;">
                        <div class="item active">
                            <h2 class="text-center">Đa dạng các môn học</h2>
                            <h3 class="text-justify">Tutor Online mang đến cho bạn rất nhiều sự lựa chọn về các môn học cần thiết để đầu tư cho tương lai của con em mình. Tin học, Ngoại ngữ là những môn học không thể thiếu trong tương lai.</h3>
                        </div>
                        <div class="item">
                            <h2 class="text-center">Môi trường giao tiếp 2 chiều hoàn hảo</h2>
                            <h3 class="text-justify">Tiện lợi, hiệu quả, giải đáp trực tiếp, tập trung giảng dạy cho 1 và chỉ 1 học viên trong xuyên suốt thời gian của buổi dạy.</h3>
                        </div>
                        <div class="item">
                            <h2 class="text-center">Mỗi học viên một lộ trình học tập riêng</h2>
                            <h3 class="text-justify">Một lộ trình học riêng biệt phù hợp với định hướng cá nhân sẽ giúp học viên đi nhanh tới mục tiêu hơn. Tại Tutor Online, chúng tôi luôn tìm hiểu mục tiêu để giúp học viên có lộ trình và định hướng học tập phù hợp.</h3>
                        </div>
                        <div class="item">
                            <h2 class="text-center">Giáo trình giảng dạy chuyên biệt</h2>
                            <h3 class="text-justify">Hệ thống giáo trình chuyên biệt của Tutor Online đã được nghiên cứu kỹ lưỡng và xây dựng dựa trên phương pháp học tập nhanh chóng, hiệu quả, đảm bảo chất lượng trong từng bài học.</h3>
                        </div>
                        <div class="item">
                            <h2 class="text-center">Linh hoạt về mặt thời gian và địa điểm</h2>
                            <h3 class="text-justify">Chỉ cần một chiếc máy tính có kết nối với internet, bạn có thể tham gia buổi học ở bất kỳ nơi đâu mà bạn cảm thấy thoải mái nhất. Bạn hoàn toàn có thể linh hoạt thời gian học tập phụ thuộc và lịch trình trong ngày của mình.</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Container (KhoaHoc Section) -->
<div id="KhoaHoc" style="background-color: #ffffff;">
    <div class="row">
        <div class="col-md-5"></div>
        <div class="col-md-2">
            <h3 class="text-center text-muted" style="margin-top: 20px;"><strong>KHÓA HỌC</strong></h3>
            <hr style="border-color:black; border-style:solid;" />
        </div>
        <div class="col-md-5"></div>
    </div>
    <div class="row" style="padding: 0px 20px 10px 20px">
        <div class="col-md-3">
            <div class="thumbnail" style="background-color: #f4f615;height: 350px;">
                <img src="~/Image/slide1.jpg" class="img-responsive" height="130" />
                <div class="caption">
                    <h4 class="text-center"><strong style="color: #3BA7CB;">Tên khóa học</strong></h4>
                    <hr />
                    <h4><strong>Mục tiêu: </strong>abc</h4>
                    <h4><strong>Yêu cầu: </strong>abc</h4>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="thumbnail" style="background-color: #f4f615;height: 350px;">
                <img src="~/Image/slide1.jpg" class="img-responsive" height="130" />
                <div class="caption">
                    <h4 class="text-center"><strong style="color: #3BA7CB;">Tên khóa học</strong></h4>
                    <hr />
                    <h4><strong>Mục tiêu: </strong>abc</h4>
                    <h4><strong>Yêu cầu: </strong>abc</h4>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="thumbnail" style="background-color: #f4f615;height: 350px;">
                <img src="~/Image/slide1.jpg" class="img-responsive" height="130" />
                <div class="caption">
                    <h4 class="text-center"><strong style="color: #3BA7CB;">Tên khóa học</strong></h4>
                    <hr />
                    <h4><strong>Mục tiêu: </strong>abc</h4>
                    <h4><strong>Yêu cầu: </strong>abc</h4>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="thumbnail" style="background-color: #f4f615;height: 350px;">
                <img src="~/Image/slide1.jpg" class="img-responsive" height="130" />
                <div class="caption">
                    <h4 class="text-center"><strong style="color: #3BA7CB;">Tên khóa học</strong></h4>
                    <hr />
                    <h4><strong>Mục tiêu: </strong>abc</h4>
                    <h4><strong>Yêu cầu: </strong>abc</h4>
                </div>
            </div>
        </div>
    </div>
    <div class="row" style="padding: 0px 0px 40px 0px;">
        <div class="col-md-5"></div>
        <div class="col-md-2">
            <button type="button" class="btn btn-success" style="border-radius:25px; height: 45px; margin-left: 40px;">Xem thêm</button>
        </div>
        <div class="col-md-5"></div>
    </div>
</div>
<!-- Container (GiaSu Section) -->
<div id="GiaSu" style="background-color: #F5F5F5;">
    <div class="row">
        <div class="col-md-5"></div>
        <div class="col-md-2">
            <h3 class="text-center text-muted" style="margin-top: 20px;"><strong>GIA SƯ</strong></h3>
            <hr style="border-color:black; border-style:solid;" />
        </div>
        <div class="col-md-5"></div>
    </div>
    <div class="row" style="padding: 0px 20px 10px 20px;">
        <div class="col-md-12">
            <div id="showtutor" class="carousel slide text-center" data-ride="carousel" style="height: 420px; color: black;">
                <!-- Indicators -->
                <ol class="carousel-indicators">
                    <li data-target="#showtutor" data-slide-to="0" class="active"></li>
                    <li data-target="#showtutor" data-slide-to="1"></li>
                </ol>
                <!-- Wrapper for slides -->
                <div class="carousel-inner">
                    <div class="item active">
                        <div class="col-md-3">
                            <div class="thumbnail" style="background-color: #E6E6E6;height: 350px;">
                                <img src="~/Image/VuongTV1.jpg" class="img-circle" height="150" width="150" style="border-color: springgreen;" />
                                <div class="caption">
                                    <h4>Xin chào, tôi là <strong style="color: #3BA7CB;">his/her name</strong></h4>
                                    <h5>Nghề nghiệp hiện tại</h5>
                                    <hr />
                                    <p>About me</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="thumbnail" style="background-color: #E6E6E6;height: 350px;">
                                <img src="~/Image/VuongTV1.jpg" class="img-circle" height="150" width="150" style="border-color: springgreen;" />
                                <div class="caption">
                                    <h4>Xin chào, tôi là <strong style="color: #3BA7CB;">his/her name</strong></h4>
                                    <h5>Nghề nghiệp hiện tại</h5>
                                    <hr />
                                    <p>About me</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="thumbnail" style="background-color: #E6E6E6;height: 350px;">
                                <img src="~/Image/VuongTV1.jpg" class="img-circle" height="150" width="150" style="border-color: springgreen;" />
                                <div class="caption">
                                    <h4>Xin chào, tôi là <strong style="color: #3BA7CB;">his/her name</strong></h4>
                                    <h5>Nghề nghiệp hiện tại</h5>
                                    <hr />
                                    <p>About me</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="thumbnail" style="background-color: #E6E6E6;height: 350px;">
                                <img src="~/Image/VuongTV1.jpg" class="img-circle" height="150" width="150" style="border-color: springgreen;" />
                                <div class="caption">
                                    <h4>Xin chào, tôi là <strong style="color: #3BA7CB;">his/her name</strong></h4>
                                    <h5>Nghề nghiệp hiện tại</h5>
                                    <hr />
                                    <p>About me</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="item active">
                            <div class="col-md-3">
                                <div class="thumbnail" style="background-color: #E6E6E6;height: 350px;">
                                    <img src="~/Image/VuongTV1.jpg" class="img-circle" height="150" width="150" style="border-color: springgreen;" />
                                    <div class="caption">
                                        <h4>Xin chào, tôi là <strong style="color: #3BA7CB;">his/her name</strong></h4>
                                        <h5>Nghề nghiệp hiện tại</h5>
                                        <hr />
                                        <p>About me</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="thumbnail" style="background-color: #E6E6E6;height: 350px;">
                                    <img src="~/Image/VuongTV1.jpg" class="img-circle" height="150" width="150" style="border-color: springgreen;" />
                                    <div class="caption">
                                        <h4>Xin chào, tôi là <strong style="color: #3BA7CB;">his/her name</strong></h4>
                                        <h5>Nghề nghiệp hiện tại</h5>
                                        <hr />
                                        <p>About me</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="thumbnail" style="background-color: #E6E6E6;height: 350px;">
                                    <img src="~/Image/VuongTV1.jpg" class="img-circle" height="150" width="150" style="border-color: springgreen;" />
                                    <div class="caption">
                                        <h4>Xin chào, tôi là <strong style="color: #3BA7CB;">his/her name</strong></h4>
                                        <h5>Nghề nghiệp hiện tại</h5>
                                        <hr />
                                        <p>About me</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="thumbnail" style="background-color: #E6E6E6;height: 350px;">
                                    <img src="~/Image/VuongTV1.jpg" class="img-circle" height="150" width="150" style="border-color: springgreen;" />
                                    <div class="caption">
                                        <h4>Xin chào, tôi là <strong style="color: #3BA7CB;">his/her name</strong></h4>
                                        <h5>Nghề nghiệp hiện tại</h5>
                                        <hr />
                                        <p>About me</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Container (HuongDan Section) -->
<div id="HuongDan" style="background-color: #ffffff;">
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <h3 class="text-center text-muted" style="margin-top: 20px;"><strong>HƯỚNG DẪN HỌC</strong></h3>
            <hr style="border-color:black; border-style:solid;" />
        </div>
        <div class="col-md-4"></div>
    </div>
    <div class="row" style="padding: 0px 30px 30px 80px;">
        <div class="col-md-12 center-block">
            <img src="~/Image/4stepLearning2.jpg" class="pull-right" />
        </div>
    </div>
    <div class="row" style="padding: 0px 0px 40px 0px;">
        <div class="col-md-1"></div>
        <div class="col-md-11">
            <div class="row">
                <h2><span class="glyphicon glyphicon-map-marker" style="color: #00ff21;"></span> <strong>Bước 1: Cài đặt Skype</strong></h2>
                <div class="col-md-11 text-left" style="padding: 0px 0px 0px 40px; font-style: unset;">
                    <h4>
                        Buổi học sẽ được thực hiện qua phần mềm hội thoại Skype. Nếu bạn chưa có tài khoản Skype, hãy download phần mềm theo link bên dưới và điền thông tin cá nhân để đăng ký tài khoản:
                    </h4>
                    <h4><strong>Cài đặt Skype cho máy tính:</strong></h4> <a href="http://www.skype.com/en/download-skype/skype-for-computer/">http://www.skype.com/en/download-skype/skype-for-computer/</a>
                    <h4><strong>Cài đặt Skype cho máy tính bảng:</strong></h4> <a href="http://www.skype.com/en/download-skype/skype-for-tablet/">http://www.skype.com/en/download-skype/skype-for-tablet/</a>
                    <h4><strong>Cài đặt Skype cho điện thoại:</strong></h4> <a href="http://www.skype.com/en/download-skype/skype-for-mobile/">http://www.skype.com/en/download-skype/skype-for-mobile/</a>
                    <h4>
                        Sau khi hoàn tất cài đặt Skype, bạn hãy vào link <a href="https://login.skype.com/registration">https://login.skype.com/registration</a> điền thông tin để đăng ký nick Skype.
                    </h4>
                    <img src="~/Image/skyperegister.jpg" class="center-block" />
                    <h4>
                        Sau khi đăng ký thành công tài khoản Skype, bạn có thể sử dụng ID và Password vừa tạo để đăng nhập vào phần mềm thoại Skype vừa cài đặt và bắt đầu các cuộc gọi qua Skype.
                    </h4>
                    <img src="~/Image/skypelogin.jpg" class="center-block" />
                </div>
            </div>
            <br />
            <div class="row">
                <h2><span class="glyphicon glyphicon-map-marker" style="color: #00ff21;"></span> <strong>Bước 2: Đăng ký tài khoản học</strong></h2>
                <div class="col-md-11 text-left" style="padding: 0px 0px 0px 40px; font-style: unset;">
                    <h4>
                        Để tham gia lớp học trực tuyến, bạn cần có tài khoản học viên tại Tutor Online. Bạn hãy thao tác theo các bước sau: Chọn <span style="color: orangered;">Đăng ký dành cho Học sinh</span> tại website <span style="color: #3BA7CB;">tutoronline.azurewebsites.net</span> để điền những thông tin yêu cầu và thông tin cá nhân rồi click <span style="color: orangered;">Đăng ký</span>.
                    </h4>
                    <img src="~/Image/StudentRegister.PNG" class="center-block" style="height: 360px; width: 620px;" />
                    <h4 class="text-center" style="color: #000000">Điền những thông tin cần thiết</h4>
                    <img src="~/Image/StudentRegister2.PNG" class="center-block" style="height: 360px; width: 620px;" />
                    <h4>
                        Sau khi đăng ký tài khoản thành công, bạn hãy đăng nhập vào hệ thống và tiếp tục thực hiện phần đăng ký khóa học để tiến hành đặt lịch học.
                    </h4>
                    <img src="~/Image/StudentRegisterSuccess.PNG" class="center-block" style="height: 400px; width: 700px;" />
                    <h4>
                        Nhằm giúp bạn có cơ hội trải nghiệm phương pháp học trực tuyến, TutorOnline sẽ gửi tặng bạn một buổi học thử miễn phí với một trong những gia sư có trong bất kì một khóa học nào mà bạn đã đăng ký.
                    </h4>
                    <h4>
                        Bạn hãy liên hệ với đội ngũ hỗ trợ học viên của chúng tôi theo <span style="color: orangered;">Số điện thoại: 01666432971, Hotline: 01697404180 / 01666482399, Email: tutoronlinefptu@gmail.com hoặc Hỗ trợ trực tuyến tại <span style="color: deepskyblue;">tutoronline.azurewebsites.net</span></span> để được hỗ trợ chi tiết hơn.
                    </h4>
                </div>
            </div>
            <br />
            <div class="row">
                <h2><span class="glyphicon glyphicon-map-marker" style="color: #00ff21;"></span> <strong>Bước 3: Đặt lịch học</strong></h2>
                <div class="col-md-11 text-left" style="padding: 0px 0px 0px 40px; font-style: unset;">
                    <h4>
                        Sau khi đăng nhập vào hệ thống, học viên cần tiến hành đăng ký ít nhất 1 khóa học sau đó thực hiện việc đặt lịch học cho bài đầu tiên của bất kỳ một khóa học nào mà học viên đã đăng ký trước đó.
                    </h4>
                    <img src="~/Image/StudentBookSchedule.PNG" class="center-block" style="height: 400px; width: 700px;" />
                </div>
            </div>
            <br />
            <div class="row">
                <h2><span class="glyphicon glyphicon-map-marker" style="color: #00ff21;"></span> <strong>Bước 4: Tiến hành học</strong></h2>
                <div class="col-md-11 text-left" style="padding: 0px 0px 0px 40px; font-style: unset;">
                    <h4>
                        Học viên cần online skype trước giờ học ít nhất 15 phút để chuẩn bị cho buổi học. 5 phút trước giờ dạy, gia sư sẽ chủ động liên lạc với học viên để bắt đầu buổi học.
                    </h4>
                    <img src="~/Image/StartStudy.png" class="center-block" style="height: 360px; width: 620px;" />
                </div>
            </div>
            <br />
        </div>
    </div>
</div>
<!-- Container (CongGiaSu Section) -->
<div id="CongGiaSu" style="background-color: lightgoldenrodyellow;">
    @*#F9F9F9  #3FDBA7*@
    <div class="row">
        <div class="col-md-5"></div>
        <div class="col-md-2">
            <h3 class="text-center text-muted" style="margin-top: 20px;"><strong>CỔNG GIA SƯ</strong></h3>
            <hr style="border-color:black; border-style:solid;" />
        </div>
        <div class="col-md-5"></div>
    </div>
    <div class="row" style="padding: 30px 30px 45px 80px;">
        <div class="col-md-5">
            <div id="preTutor" class="carousel slide" data-ride="carousel">
                <!-- Indicators -->
                <ol class="carousel-indicators">
                    <li data-target="#preTutor" data-slide-to="0" class="active"></li>
                    <li data-target="#preTutor" data-slide-to="1"></li>
                </ol>
                <!-- Wrapper for slides -->
                <div class="carousel-inner">
                    <div class="item active">
                        <img src="~/Image/slide_tutor1.jpg" alt="Kết nối học sinh" style="width: 100%;">
                        <div class="carousel-caption">
                            <h3>Kết nối học sinh</h3>
                            <p>Trọng tâm, đơn giản, dễ hiểu</p>
                        </div>
                    </div>
                    <div class="item">
                        <img src="~/Image/slide_tutor2.jpg" alt="Kết nối phụ huynh" style="width: 100%;">
                        <div class="carousel-caption">
                            <h3>Kết nối phụ huynh</h3>
                            <p>Lắng nghe, chia sẽ, giúp đỡ</p>
                        </div>
                    </div>
                </div>
                <!-- Controls -->
                <a class="left carousel-control" href="#preTutor" role="button" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                </a>
                <a class="right carousel-control" href="#preTutor" role="button" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right"></span>
                </a>
            </div>
        </div>
        <div class="col-md-1"></div>
        <div class="col-md-6 text-left">
            <div class="row">
                <h3 style="margin-top: 0px; font-family: Arial;"><strong>Lý do để bạn trở thành một gia sư chuyên nghiệp?</strong></h3>
            </div>
            <br />
            <div class="row">
                <span class="glyphicon glyphicon-check" style="color: springgreen;"></span>
                <strong>Tăng thu nhập <span class="glyphicon glyphicon-hand-right" style="color: orangered;"></span> Du lịch trong và ngoài nước</strong>
            </div>
            <br />
            <div class="row">
                <span class="glyphicon glyphicon-check" style="color: springgreen;"></span>
                <strong>Dạy là học <span class="glyphicon glyphicon-hand-right" style="color: orangered;"></span> Mài duỗi chuyên môn từ việc dạy học</strong>
            </div>
            <br />
            <div class="row">
                <span class="glyphicon glyphicon-check" style="color: springgreen;"></span>
                <strong>Tự do thời gian <span class="glyphicon glyphicon-hand-right" style="color: orangered;"></span> Kiểm soát hoàn toàn thời gian, dễ dàng lựa chọn và thay đổi giờ làm</strong>
            </div>
            <br />
            <div class="row">
                <span class="glyphicon glyphicon-check" style="color: springgreen;"></span>
                <strong>Niềm vui - Tự hào <span class="glyphicon glyphicon-hand-right" style="color: orangered;"></span> Cảm nhận được sự hạnh phúc, giá trị thực sự của cuộc sống mà không gì có thể mua được</strong>
            </div>
            <br />
            <div class="row pull-left">
                @Html.ActionLink("Ứng tuyển làm gia sư", "Register", "Account", new { area = "", RoleId = 8 }, new { @class = "btn btn-hero btn-lg", style = "color: white;" })
            </div>
        </div>
    </div>
</div>