@{
    Layout = "~/Views/Shared/_Layout.cshtml";

    ViewBag.Title = "HomePage";
}

<!-- Container (TrangChu Section) -->
<div id="TrangChu">
    <div class="carousel fade-carousel slide" data-ride="carousel" data-interval="4000" id="bs-carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#bs-carousel" data-slide-to="0" class="active"></li>
            <li data-target="#bs-carousel" data-slide-to="1"></li>
            <li data-target="#bs-carousel" data-slide-to="2"></li>
            <li data-target="#bs-carousel" data-slide-to="3"></li>
            <li data-target="#bs-carousel" data-slide-to="4"></li>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner">
            <div class="item slides active">
                <!-- Overlay -->
                <div class="overlay"></div>
                <div class="slide-1"></div>
                <div class="hero">
                    <hgroup>
                        <h1>We are creative</h1>
                        <h3>Thành công không phải là đích đến mà là cả một hành trình.</h3>
                    </hgroup>
                    @Html.ActionLink("Đăng ký ngay", "Register", "Account", new { area = "" }, new { @class = "btn btn-hero btn-lg" })
                    @*<button class="btn btn-hero btn-lg" role="button">Đăng ký ngay</button>*@
                </div>
            </div>
            <div class="item slides">
                <!-- Overlay -->
                <div class="overlay"></div>
                <div class="slide-2"></div>
                <div class="hero">
                    <hgroup>
                        <h1>We are smart</h1>
                        <h3>Thành công không phải là đích đến mà là cả một hành trình.</h3>
                    </hgroup>
                    @Html.ActionLink("Đăng ký ngay", "Register", "Account", new { area = "" }, new { @class = "btn btn-hero btn-lg" })
                </div>
            </div>
            <div class="item slides">
                <!-- Overlay -->
                <div class="overlay"></div>
                <div class="slide-3"></div>
                <div class="hero">
                    <hgroup>
                        <h1>We are amazing</h1>
                        <h3>Thành công không phải là đích đến mà là cả một hành trình.</h3>
                    </hgroup>
                    @Html.ActionLink("Đăng ký ngay", "Register", "Account", new { area = "" }, new { @class = "btn btn-hero btn-lg" })
                </div>
            </div>
            <div class="item slides">
                <!-- Overlay -->
                <div class="overlay"></div>
                <div class="slide-4"></div>
                <div class="hero">
                    <hgroup>
                        <h1>We are convenient</h1>
                        <h3>Thành công không phải là đích đến mà là cả một hành trình.</h3>
                    </hgroup>
                    @Html.ActionLink("Đăng ký ngay", "Register", "Account", new { area = "" }, new { @class = "btn btn-hero btn-lg" })
                </div>
            </div>
            <div class="item slides">
                <!-- Overlay -->
                <div class="overlay"></div>
                <div class="slide-5"></div>
                <div class="hero">
                    <hgroup>
                        <h1>We are flexible</h1>
                        <h3>Thành công không phải là đích đến mà là cả một hành trình.</h3>
                    </hgroup>
                    @Html.ActionLink("Đăng ký ngay", "Register", "Account", new { area = "" }, new { @class = "btn btn-hero btn-lg" })
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Container (GioiThieu Section) -->
<div id="GioiThieu" style="background-color: #F9F9F9;">
    <div class="row">
        <div class="col-md-5"></div>
        <div class="col-md-2">
            <h3 class="text-center text-muted" style="margin-top: 20px;"><strong>GIỚI THIỆU</strong></h3>
            <hr />
        </div>
        <div class="col-md-5"></div>
    </div>
</div>

<!-- Container (KhoaHoc Section) -->
<div id="KhoaHoc" style="background-color: #F9F9F9;">
    <div class="row">
        <div class="col-md-5"></div>
        <div class="col-md-2">
            <h3 class="text-center text-muted" style="margin-top: 20px;"><strong>KHÓA HỌC</strong></h3>
            <hr />
        </div>
        <div class="col-md-5"></div>
    </div>
</div>

<!-- Container (GiaSu Section) -->
<div id="GiaSu" style="background-color: #F9F9F9;">
    <div class="row">
        <div class="col-md-5"></div>
        <div class="col-md-2">
            <h3 class="text-center text-muted" style="margin-top: 20px;"><strong>GIA SƯ</strong></h3>
            <hr />
        </div>
        <div class="col-md-5"></div>
    </div>
</div>

<!-- Container (HuongDan Section) -->
<div id="HuongDan" style="background-color: #ffffff;">
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <h3 class="text-center text-muted" style="margin-top: 20px;"><strong>CÁC BƯỚC ĐỂ BẮT ĐẦU HỌC</strong></h3>
            <hr />
        </div>
        <div class="col-md-4"></div>
    </div>
    <div class="row" style="padding: 30px 30px 45px 80px;">
        <div class="col-md-5">
            <div id="preTutor" class="carousel slide" data-ride="carousel">
                <!-- Indicators -->
                <ol class="carousel-indicators">
                    <li data-target="#preTutor" data-slide-to="0" class="active"></li>
                    <li data-target="#preTutor" data-slide-to="1"></li>
                </ol>

                <!-- Wrapper for slides -->
                <div class="carousel-inner">
                    <div class="item active">
                        <img src="~/Image/slide_tutor1.jpg" alt="Kết nối học sinh" style="width: 100%;">
                        <div class="carousel-caption">
                            <h3>Kết nối học sinh</h3>
                            <p>Trọng tâm, đơn giản, dễ hiểu</p>
                        </div>
                    </div>
                    <div class="item">
                        <img src="~/Image/slide_tutor2.jpg" alt="Kết nối phụ huynh" style="width: 100%;">
                        <div class="carousel-caption">
                            <h3>Kết nối phụ huynh</h3>
                            <p>Lắng nghe, chia sẽ, giúp đỡ</p>
                        </div>
                    </div>
                </div>

                <!-- Controls -->
                <a class="left carousel-control" href="#preTutor" role="button" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                </a>
                <a class="right carousel-control" href="#preTutor" role="button" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right"></span>
                </a>
            </div>
        </div>
        <div class="col-md-1"></div>
        <div class="col-md-6 text-left">
            <div class="row">
                <h3 style="margin-top: 0px; font-family: Arial;"><strong>Lý do để trở thành một gia sư chuyên nghiệp?</strong></h3>
            </div>
            <br />
            <div class="row">
                <span class="glyphicon glyphicon-check" style="color: yellow;"></span> ABC
            </div>
            <br />
            <div class="row">
                <span class="glyphicon glyphicon-check" style="color: yellow;"></span> ABC
            </div>
            <br />
            <div class="row">
                <span class="glyphicon glyphicon-check" style="color: yellow;"></span> ABC
            </div>
            <br />
            <div class="row">
                <span class="glyphicon glyphicon-check" style="color: yellow;"></span> ABC
            </div>
            <br />
            <div class="row pull-left">
                @Html.ActionLink("Ứng tuyển làm gia sư", "Register", "Account", new { area = "" }, new { @class = "btn btn-hero btn-lg" })
            </div>
        </div>
    </div>
</div>

<!-- Container (CongGiaSu Section) -->
<div id="CongGiaSu" style="background-color: #F9F9F9;">
    <div class="row">
        <div class="col-md-5"></div>
        <div class="col-md-2">
            <h3 class="text-center text-muted" style="margin-top: 20px;"><strong>CỔNG GIA SƯ</strong></h3>
            <hr/>
        </div>
        <div class="col-md-5"></div>
    </div>
    <div class="row" style="padding: 30px 30px 45px 80px;">
        <div class="col-md-5">
            <div id="preTutor" class="carousel slide" data-ride="carousel">
                <!-- Indicators -->
                <ol class="carousel-indicators">
                    <li data-target="#preTutor" data-slide-to="0" class="active"></li>
                    <li data-target="#preTutor" data-slide-to="1"></li>
                </ol>

                <!-- Wrapper for slides -->
                <div class="carousel-inner">
                    <div class="item active">
                        <img src="~/Image/slide_tutor1.jpg" alt="Kết nối học sinh" style="width: 100%;">
                        <div class="carousel-caption">
                            <h3>Kết nối học sinh</h3>
                            <p>Trọng tâm, đơn giản, dễ hiểu</p>
                        </div>
                    </div>
                    <div class="item">
                        <img src="~/Image/slide_tutor2.jpg" alt="Kết nối phụ huynh" style="width: 100%;">
                        <div class="carousel-caption">
                            <h3>Kết nối phụ huynh</h3>
                            <p>Lắng nghe, chia sẽ, giúp đỡ</p>
                        </div>
                    </div>
                </div>

                <!-- Controls -->
                <a class="left carousel-control" href="#preTutor" role="button" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                </a>
                <a class="right carousel-control" href="#preTutor" role="button" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right"></span>
                </a>
            </div>
        </div>
        <div class="col-md-1"></div>
        <div class="col-md-6 text-left">
            <div class="row">
                <h3 style="margin-top: 0px; font-family: Arial;"><strong>Lý do để bạn trở thành một gia sư chuyên nghiệp?</strong></h3>
            </div>
            <br/>
            <div class="row">
                <span class="glyphicon glyphicon-check" style="color: yellow;"></span> ABC
            </div>
            <br />
            <div class="row">
                <span class="glyphicon glyphicon-check" style="color: yellow;"></span> ABC
            </div>
            <br />
            <div class="row">
                <span class="glyphicon glyphicon-check" style="color: yellow;"></span> ABC
            </div>
            <br />
            <div class="row">
                <span class="glyphicon glyphicon-check" style="color: yellow;"></span> ABC
            </div>
            <br />
            <div class="row pull-left">
                @Html.ActionLink("Ứng tuyển làm gia sư", "Register", "Account", new { area = "" }, new { @class = "btn btn-hero btn-lg", style = "color: white;" })
            </div>
        </div>
    </div>
</div>