@model TutorOnline.Web.Models.AnswerViewModels

@{
    ViewBag.Title = "Thêm câu trả lời cho câu hỏi trắc nghiệm";
    Layout = "~/Views/Shared/_Layout_BackendUser.cshtml";
}
@{TempData["queId"] = ViewBag.queId;}
@using (Html.BeginForm("Create", "Answer", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <h3>Thêm câu trả lời</h3>
        <hr />

        <div class="form-group">
            <p class="control-label col-md-3">Nôi dung câu hỏi: </p>
            <div class="col-md-9" style="margin-top: 7px;">
                @Html.Raw(ViewBag.quesContent)
            </div>
        </div>

        <div class="form-group">
            <p class="control-label col-md-3">Hình ảnh câu hỏi: </p>
            <div class="col-md-9" style="margin-top: 7px;">
                @if (String.IsNullOrEmpty(ViewBag.quesPhoto))
                {
                    <p>@("N/A")</p>
                }
                else
                {
                    <img src="~/Content/Uploads/Images/Thumbnails/@ViewBag.quesPhoto.Substring(3)" />
                }
            </div>
        </div>

        <div class="form-group">
            <p class="control-label col-md-3">Nôi dung câu trả lời: </p>
            <div class="col-md-9">
                @Html.EditorFor(model => model.Content, new { htmlAttributes = new { @class = "form-control", style = "width:200px;" } })
                @Html.ValidationMessageFor(model => model.Content, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <p class="control-label col-md-3">Đáp án: </p>
            <div class="col-md-9">
               @Html.DropDownList("isCorrect", null, htmlAttributes: new { @class = "form-control", style = "width:90px" })
               @Html.ValidationMessageFor(model => model.isCorrect, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Thêm câu trả lời" class="btn btn-success" />
                @Html.ActionLink("Quay lại", "Details", "Question", new { id = ViewBag.queId, subId = ViewBag.subId }, new { @class = "btn btn-default" })
            </div>
        </div>
    </div>
}