@model TutorOnline.Web.Models.CategoriesViewModels

@{
    ViewBag.Title = "Chi tiết môn học";
    Layout = "~/Views/Shared/_Layout_BackendUser.cshtml";
}

<div class="container-fluid">
    <h3>Chi tiết môn học</h3>
    <hr />
    <div class="row">
        <div class="col-md-8">
            <h4><strong>Tên môn học: </strong>@Html.DisplayFor(modelItem => modelItem.CategoryName)</h4>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8">
            <h4><strong>Mô tả: </strong>@Html.DisplayFor(modelItem => modelItem.Description)</h4>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-md-8">
            @Html.ActionLink("Chỉnh sửa", "Edit", new { @id = Model.CategoryId }, new { @class = "btn btn-success" })
            @Html.ActionLink("Xóa", "Delete", new { @id = Model.CategoryId }, new { @class = "btn btn-danger" })
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-md-8">
            @Html.ActionLink("Trở lại", "Index", new { @id = Model.CategoryId }, new { @class = "btn btn-default" })
        </div>
    </div>
</div>
