@model TutorOnline.Web.Models.CategoriesViewModels

@{
    ViewBag.Title = "Chỉnh sửa môn học";
    Layout = "~/Views/Shared/_Layout_BackendUser.cshtml";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <h3>Chỉnh sửa môn học</h3>
    <hr />
    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.CategoryId)
        
        <div class="form-group">
            <p class="control-label col-md-2">Tên môn học: </p>
            <div class="col-md-10">
                @Html.EditorFor(model => model.CategoryName, new { htmlAttributes = new { @class = "form-control", style = "width:150px;" } })
                @Html.ValidationMessageFor(model => model.CategoryName, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <p class="control-label col-md-2">Mô tả: </p>
            <div class="col-md-10">
                @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control", style = "width:300px; height: 50px;" } })
                @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Cập Nhật" class="btn btn-success" />
                @Html.ActionLink("Quay lại", "Details", new { @id = Model.CategoryId }, new { @class = "btn btn-default" })
            </div>
        </div>
    </div>
}
