@model PagedList.IPagedList<TutorOnline.Web.Models.CategoriesViewModels>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
    ViewBag.Title = "Quản lý môn học";
    Layout = "~/Views/Shared/_Layout_BackendUser.cshtml";
    ViewBag.Count = 0;
}

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <h3 style="margin-bottom: -40px;">Quản lý môn học</h3>
            @Html.ActionLink("Trở lại", "Index", "LearningResources", null, new { @class = "btn btn-info pull-right" })
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col-md-8">
            @using (Html.BeginForm("Index", "Categories", FormMethod.Get))
            {
                <div class="input-group">
                    <span class="input-group-addon" id="basic-addon1">Tất cả</span>
                    @Html.TextBox("searchString", null, htmlAttributes: new { @class = "form-control", @placeholder = "Tìm kiếm tên môn học..." })
                    <span class="input-group-btn">
                        <input type="submit" value="Tìm Kiếm" class="btn btn-default" name="btnSearch"/>
                    </span>
                </div>
            }
        </div>
    </div>
    <br/>
    <div class="row">
        <div class="col-md-4">
            @Html.ActionLink("Thêm Môn Học", "Create", "Categories", new { @class = "btn btn-success" })
        </div>
    </div>
    <br/>

    @if (@ViewBag.totalRecord > 0)
    {
        <div class="row">
            <div class="col-md-12">
                <h4>Tìm thấy @ViewBag.totalRecord kết quả.</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <table class="table table-striped">
                    <tr>
                        <th>STT</th>
                        <th>Tên môn học</th>
                        <th>Mô tả</th>
                    </tr>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@(ViewBag.Count++ + 1)</td>
                            <td>@Html.ActionLink(item.CategoryName, "Details", new { id = item.CategoryId })</td>
                            <td>@Html.DisplayFor(modelItem => item.Description)</td>
                        </tr>
                    }
                </table>
                Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
                @Html.PagedListPager(Model, page => Url.Action("Index",
                                 new { page, searchString = ViewBag.searchStr }))
            </div>
        </div>
    }
    else if (@ViewBag.btnSearch != null && ViewBag.totalRecord == 0)
    {
        <div class="row">
            <div class="col-md-12">
                <h4>Tìm thấy @ViewBag.totalRecord kết quả</h4>
            </div>
        </div>
    }
</div>