@model TutorOnline.Web.Models.SubjectsViewModels

@{
    ViewBag.Title = "Chi tiết khóa học";
    Layout = "~/Views/Shared/_Layout_BackendUser.cshtml";
}

<div class="container-fluid">
    <h3>Chi tiết khóa học</h3>
    <hr />
    <dl class="dl-horizontal">
        <dt>Hình ảnh:</dt>
        @if (String.IsNullOrEmpty(Model.Photo))
        {
            <dd>
                @("N/A")
            </dd>
        }
        else
        {
            <dd>
                <img src="~/Content/Uploads/SubjectPhoto/@Model.Photo.Substring(3)" />
            </dd>
        }
        <dt>Tên khóa học:</dt>
        <dd>@Html.DisplayFor(modelItem => modelItem.SubjectName)</dd>
        <dt>Loại môn học:</dt>
        <dd>@Html.DisplayFor(modelItem => modelItem.CategoryName)</dd>
        <dt>Mục tiêu:</dt>
        <dd>@Html.DisplayFor(modelItem => modelItem.Purpose)</dd>
        <dt>Yêu cầu:</dt>
        <dd>@Html.DisplayFor(modelItem => modelItem.Requirement)</dd>
        <dt>Mô tả:</dt>
        <dd>@Html.DisplayFor(modelItem => modelItem.Description)</dd>
    </dl>
    <br />
    <div class="row">
        <div class="col-md-8">
            @Html.ActionLink("Chỉnh sửa", "Edit", new { @id = Model.SubjectId }, new { @class = "btn btn-success" })
            @Html.ActionLink("Xóa", "Delete", new { @id = Model.SubjectId }, new { @class = "btn btn-danger" })
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-md-8">
            @Html.ActionLink("Trở lại", "Index", new { @id = Model.SubjectId }, new { @class = "btn btn-default" })
        </div>
    </div>
</div>
