@model PagedList.IPagedList<TutorOnline.Web.Models.SubjectsViewModels>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
    ViewBag.Title = "Quản lý khóa học";
    Layout = "~/Views/Shared/_Layout_BackendUser.cshtml";
    ViewBag.Count = 0;
}

<div class="container-fluid">
    <h3>Quản lý khóa học</h3>
    <hr />
    <div class="row">
        @using (Html.BeginForm("Index", "Subjects", FormMethod.Get))
        {
            <div class="col-md-3">
                @Html.DropDownList("cateString", null, "--Tất cả--", htmlAttributes: new { @class = "form-control" })
            </div>
            <div class="col-md-7">
                <div class="input-group">
                    @Html.TextBox("searchString", null, htmlAttributes: new { @class = "form-control", @placeholder = "Tìm kiếm..." })
                    <span class="input-group-btn">
                        <input type="submit" value="Tìm Kiếm" class="btn btn-default" />
                    </span>
                </div>
            </div>
        }
        <div class="col-md-2">
            @Html.ActionLink("Thêm Khóa Học", "Create", "Subjects", new { @class = "btn btn-success" })
        </div>
    </div>
    </br>
    @if (@ViewBag.totalRecord > 0)
    {
        <div class="row">
            <div class="col-md-12">
                <h4>Có @ViewBag.totalRecord kết quả tìm kiếm</h4>
            </div>
        </div>
    }
    <div class="row">
        <div class="col-md-12">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Stt</th>
                        <th>Tên khóa học</th>
                        <th>Loại môn học</th>
                        <th>Mục tiêu</th>
                        <th>Yêu cầu</th>
                        <th>Giá khóa học</th>
                        <th>Hình ảnh</th>
                    </tr>
                </thead>
                @foreach (var item in Model)
                {
                    <tbody>
                        <tr>
                            <td>@(ViewBag.Count++ + 1)</td>
                            <td>@Html.ActionLink(item.SubjectName, "Details", new { id = item.SubjectId })</td>
                            <td>@Html.DisplayFor(modelItem => item.CategoryName)</td>
                            <td>@Html.DisplayFor(modelItem => item.Purpose)</td>
                            <td>@Html.DisplayFor(modelItem => item.Requirement)</td>
                            <td>@Html.DisplayFor(modelItem => item.Price)</td>
                            <td>@Html.DisplayFor(modelItem => item.Photo)</td>
                        </tr>
                    </tbody>
                }
            </table>
            Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
            @Html.PagedListPager(Model, page => Url.Action("Index",
                                 new { page, searchString = ViewBag.searchStr, cateString = ViewBag.cateStr }))
        </div>
    </div>
</div>