@model IEnumerable<TutorOnline.Web.Models.QuestionLinkViewModels>

@{
    Layout = null;
    ViewBag.count = 0;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Bài tập tham khảo của khóa học</title>
</head>
<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4">
                @Html.ActionLink("Thêm link bài tập tham khảo", "CreateLinkQuestion", "Question", new { subId = ViewBag.subId }, new { @class = "btn btn-success" })
            </div>
        </div>
        <br />
        @if (@ViewBag.totalRecord > 0)
        {
            <div class="row">
                <div class="col-md-12">
                    <table class="table table-striped">
                        <tr>
                            <th>STT</th>
                            <th>Link bài tập tham khảo</th>
                            <th><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></th>
                        </tr>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@(ViewBag.Count++ + 1)</td>
                                <td><a href="@Html.DisplayFor(modelItem => item.Link)">@Html.DisplayFor(modelItem => item.Link)</a></td>
                                <td>@Html.ActionLink("Xóa", "DeleleQuestionLink", "Question", new { @id = item.QuestionId, @subId = item.subjectId }, new { @class = "btn btn-danger" })</td>
                            </tr>
                        }
                    </table>
                </div>
            </div>
        }
        else
        {
            <div class="row">
                <div class="col-md-12">
                    <h4>Khóa học hiện chưa có bài tập tham khảo. Hãy thêm bài tập tham khảo cho khóa học.</h4>
                </div>
            </div>
        }
    </div>
</body>
</html>
