<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title TutorOnline</title>
    <link rel="shortcut icon" href="~/Image/TutorOnline_Icon.png" />
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Tutor Online", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Trang Chủ", "Index", "Home")</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @if (TempData["message"] != null)
        {
            <div class="alert alert-success alert-dismissable">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">×</a>
                @TempData["message"]
            </div>
        }

        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12"><h2>Gia Sư Trực Tuyến</h2></div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <ul class="nav nav-pills nav-stacked">
                        <li class="active"><a href="@Url.Action("Index", "Manager", new { id = 4 })">Thông tin cá nhân</a></li>
                        <li><a href="@Url.Action("ChangePwd", "Manager", new { id = 4 })">Đổi mật khẩu</a></li>
                        <li hidden="@(ViewBag.SystemAdmin == true? false:true)"><a href="@Url.Action("Index", "Users")">Quản lý người dùng</a></li>
                        @if (ViewBag.title == "Manager")
                        {                           
                            <li><a href="@Url.Action("ManageSub", "Manager")">Quản lý môn học</a></li>
                            <li><a href="@Url.Action("ManageCourse", "Manager")">Quản lý khóa học</a></li>
                            <li><a href="@Url.Action("ListPreTutor", "Manager")">Danh sách gia sư ứng tuyển</a></li>
                        }
                        else if (ViewBag.title == "AdminSystem")
                        {
                                                      
                        }
                        else if (ViewBag.title == "Accountant")
                        {
                            
                            <li><a href="@Url.Action("Index", "Accountant")">Quản lý tài chính</a></li>
                        }
                    </ul>
                </div>
                <div class="col-md-9">
                    @RenderBody()
                </div>
            </div>
        </div>
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Tutor Online</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)   
    
</body>
</html>
