<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Tutor Online System</title>
    <link rel="shortcut icon" href="~/Image/TutorOnline_Icon.png" />
    <link rel="stylesheet" href="~/Content/Style.css">
    <link rel="stylesheet" href="~/Content/Footer-with-map.css">
    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <style>
        .error-404 {
            margin: 0 auto;
            text-align: center;
        }

            .error-404 .error-code {
                bottom: 60%;
                color: #4686CC;
                font-size: 96px;
                line-height: 100px;
                font-weight: bold;
            }

            .error-404 .error-desc {
                font-size: 12px;
                color: #647788;
            }

            .error-404 .m-b-10 {
                margin-bottom: 10px !important;
            }

            .error-404 .m-b-20 {
                margin-bottom: 20px !important;
            }

            .error-404 .m-t-20 {
                margin-top: 20px !important;
            }
    </style>

    @*Subiz service for supporter*@
    <script type='text/javascript'>window._sbzq||function(e){e._sbzq=[];var t=e._sbzq;t.push(["_setAccount",65696]);var n=e.location.protocol=="https:"?"https:":"http:";var r=document.createElement("script");r.type="text/javascript";r.async=true;r.src=n+"//static.subiz.com/public/js/loader.js";var i=document.getElementsByTagName("script")[0];i.parentNode.insertBefore(r,i)}(window);</script>
</head>
<body id="HomePage" data-spy="scroll" data-target=".navbar" data-offset="60">
    <div class="navbar-default navbar-fixed-top" role="navigation" style="background: #EBFAF9;">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("TUTOR ONLINE", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse" id="myNavbar">
                <ul class="nav navbar-nav navbar-left">
                    <li>@Html.ActionLink("Trang Chủ", "Index", "Home", null, null)</li>
                    <li><a href="#GioiThieu">Giới Thiệu</a></li>
                    <li><a href="#KhoaHoc">Khóa Học</a></li>
                    <li><a href="#GiaSu">Gia Sư</a></li>
                    <li><a href="#HuongDan">Hướng Dẫn Học</a></li>
                    <li><a href="#CongGiaSu">Cổng Gia Sư</a></li>
                    <li><a href="#myFooter">Chúng Tôi</a></li>
                </ul>
                @if (User.Identity.IsAuthenticated)
                {
                    <div class="navbar-collapse collapse">
                        <ul class="nav navbar-nav navbar-right">
                            <li>
                                <a href="@Url.Action("Logout", "Account")">
                                    Xin chào @HttpContext.Current.User.Identity.Name ! Đăng Xuất <span class="glyphicon glyphicon-log-in"> </span>
                                </a>
                            </li>
                        </ul>
                    </div>
                }
                else
                {
                    <div class="nav navbar-nav navbar-right">
                        @Html.ActionLink("Đăng nhập", "Login", "Account", new { area = "" }, new { @class = "btn btn-success navbar-btn" })
                        @Html.ActionLink("Đăng ký", "Register", "Account", new { area = "" }, new { @class = "btn btn-success navbar-btn" })
                    </div>
                }
                
            </div>
        </div>
    </div>
    @if (TempData["message"] != null)
            {
        <div class="alert alert-success">@TempData["message"]</div>
    }
    @if (TempData["messageWarning"] != null)
            {
        <div class="alert alert-warning">@TempData["messageWarning"]</div>
    }
    @RenderBody()
    <footer id="myFooter">
        <div class="container">
            <div class="row">
                <div class="col-sm-3">
                    <h5>Chúng Tôi - FlyingColors Team</h5>
                    <ul>
                        <li>Trần Viết Vương</li>
                        <li>Võ Thế Lâm</li>
                        <li>Nguyễn Bảo Long</li>
                        <li>Nguyễn Huy Phát</li>
                        <li>Nông Thị Hoài Thương</li>
                        <li>Nguyễn Thị Khánh Huyền</li>
                    </ul>
                </div>
                <div class="col-sm-3">
                    <h5>Giáo Viên Hướng Dẫn</h5>
                    <ul>
                        <li>Phan Trường Lâm</li>
                    </ul>
                </div>
                <div class="col-sm-3">
                    <h5>Liên Hệ</h5>
                    <ul>
                        <li>Địa chỉ: Đại học FPT, Hòa Lạc, Thạch Thất, Hà Nội</li>
                        <li>Email: tutoronlinefptu@gmail.com</li>
                        <li>Hotline: 01666432971</li>
                    </ul>
                </div>
                <div class="col-sm-3">
                    <h5>Chứng Chỉ</h5>
                    <ul>
                        <li>Website dạy học mô hình mới</li>
                        <li>Sáng tạo mùa hè</li>
                    </ul>
                </div>
            </div>
            <!-- Here we use the Google Embed API to show Google Maps. -->
            <!-- In order for this to work in your project you will need to generate a unique API key.  -->
            <iframe id="map-container" frameborder="0" style="border:0"
                    src="https://www.google.com/maps/embed/v1/place?key=AIzaSyA0Dx_boXQiwvdz8sJHoYeZNVTdoWONYkU&amp;q=place_id:ChIJbQilLLNUNDER5Der2CkuxqM"></iframe>
        </div>
        <div class="social-networks">
            <a href="https://twitter.com/VUONGFU" class="twitter"><i class="fa fa-twitter"></i></a>
            <a href="https://www.facebook.com/groups/371728629880519/" class="facebook"><i class="fa fa-facebook"></i></a>
            <a href="https://myaccount.google.com/" class="google"><i class="fa fa-google-plus"></i></a>
        </div>
        <p class="container-fluid text-center">
            <a href="#HomePage" title="To Top">
                <span class="glyphicon glyphicon-chevron-up"></span>
            </a>
        </p>
        <div class="footer-copyright">
            <p>© 2017 Copyright Flying Colors Team </p>
        </div>
    </footer>

    <script>
        $(document).ready(function () {
            // Add smooth scrolling to all links in navbar + footer link
            $(".navbar a, footer a[href='#HomePage']").on('click', function (event) {
                // Make sure this.hash has a value before overriding default behavior
                if (this.hash !== "") {
                    // Prevent default anchor click behavior
                    event.preventDefault();

                    // Store hash
                    var hash = this.hash;

                    // Using jQuery's animate() method to add smooth page scroll
                    // The optional number (900) specifies the number of milliseconds it takes to scroll to the specified area
                    $('html, body').animate({
                        scrollTop: $(hash).offset().top
                    }, 900, function () {

                        // Add hash (#) to URL when done scrolling (default click behavior)
                        window.location.hash = hash;
                    });
                } // End if
            });

            $(window).scroll(function () {
                $(".slideanim").each(function () {
                    var pos = $(this).offset().top;

                    var winTop = $(window).scrollTop();
                    if (pos < winTop + 600) {
                        $(this).addClass("slide");
                    }
                });
            });
        })
    </script>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
