
@{
    ViewBag.Title = "TutorBookSlot";
    Layout = "";
}

<p>
    <a id="pre-arrow" class="disableArrow disabled" onclick="preClick()">
        <img src="~/Image/prev.png" />
    </a>
    <b id="WeekSelect"> @ViewBag.CurrentWeek </b>
    <a id="next-arrow" onclick="nextClick()">
        <img src="~/Image/next.png" />
    </a>
</p>

<table border="1" cellspacing="0" class="slotpick">
    <tr>
        <th></th>
        <th scope="col" style="width:100px;">Slot 1<br />08:00 - 08:45</th>
        <th scope="col" style="width:100px;">Slot 2<br />09:00 - 09:45</th>
        <th scope="col" style="width:100px;">Slot 3<br />10:00 - 10:45</th>
        <th scope="col" style="width:100px;">Slot 4<br />11:00 - 11:45</th>
        <th scope="col" style="width:100px;">Slot 5<br />13:00 - 13:45</th>
        <th scope="col" style="width:100px;">Slot 6<br />14:00 - 14:45</th>
        <th scope="col" style="width:100px;">Slot 7<br />15:00 - 15:45</th>
        <th scope="col" style="width:100px;">Slot 8<br />16:00 - 16:45</th>
        <th scope="col" style="width:100px;">Slot 9<br />19:00 - 19:45</th>
        <th scope="col" style="width:100px;">Slot 10<br />20:00 - 20:45</th>
        <th scope="col" style="width:100px;">Slot 11<br />21:00 - 21:45</th>
    </tr>
    <tr id="RowSun">
        <th scope="row" style="width:75px;" id="DateSun">Chủ nhật<br /> @ViewBag.FirstDayOfWeek.ToShortDateString()</th>
        @for (int i = 1; i <= 11; i++)
        {
            string temp = String.Format("{0:00}", i);
            <td class="tableSlot" id="Sun@(temp)" onclick="addOrRemoveDate('Sun@(temp)')"></td>
        }
    </tr>
    <tr id="RowMon">
        <th scope="row" style="width:75px;" id="DateMon">Thứ hai<br /> @ViewBag.FirstDayOfWeek.AddDays(1).ToShortDateString()</th>
        @for (int i = 1; i <= 11; i++)
        {
            string temp = String.Format("{0:00}", i);
            <td class="tableSlot" id="Mon@(temp)" onclick="addOrRemoveDate('Mon@(temp)')"></td>
        }
    </tr>
    <tr id="RowTue">
        <th scope="row" style="width:75px;" id="DateTue">Thứ ba<br /> @ViewBag.FirstDayOfWeek.AddDays(2).ToShortDateString()</th>
        @for (int i = 1; i <= 11; i++)
        {
            string temp = String.Format("{0:00}", i);
            <td class="tableSlot" id="Tue@(temp)" onclick="addOrRemoveDate('Tue@(temp)')"></td>
        }
    </tr>
    <tr id="RowWed">
        <th scope="row" style="width:75px;" id="DateWed">Thứ tư<br /> @ViewBag.FirstDayOfWeek.AddDays(3).ToShortDateString()</th>
        @for (int i = 1; i <= 11; i++)
        {
            string temp = String.Format("{0:00}", i);
            <td class="tableSlot" id="Wed@(temp)" onclick="addOrRemoveDate('Wed@(temp)')"></td>
        }
    </tr>
    <tr id="RowThu">
        <th scope="row" style="width:75px;" id="DateThu">Thứ năm<br /> @ViewBag.FirstDayOfWeek.AddDays(4).ToShortDateString()</th>
        @for (int i = 1; i <= 11; i++)
        {
            string temp = String.Format("{0:00}", i);
            <td class="tableSlot" id="Thu@(temp)" onclick="addOrRemoveDate('Thu@(temp)')"></td>
        }
    </tr>
    <tr id="RowFri">
        <th scope="row" style="width:75px;" id="DateFri">Thứ sáu<br /> @ViewBag.FirstDayOfWeek.AddDays(5).ToShortDateString()</th>
        @for (int i = 1; i <= 11; i++)
        {
            string temp = String.Format("{0:00}", i);
            <td class="tableSlot" id="Fri@(temp)" onclick="addOrRemoveDate('Fri@(temp)')"></td>
        }
    </tr>
    <tr id="RowSat">
        <th scope="row" style="width:75px;" id="DateSat">Thứ bảy<br /> @ViewBag.FirstDayOfWeek.AddDays(6).ToShortDateString()</th>
        @for (int i = 1; i <= 11; i++)
            {
                string temp = String.Format("{0:00}", i);
            <td class="tableSlot" id="Sat@(temp)" onclick="addOrRemoveDate('Sat@(temp)')"></td>
        }
    </tr>

</table>


<input type="button" class="btn btn-success" name="btnSubmit" value="Lưu lại" onclick="SubmitSlot()" />

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.1/jquery.js"></script>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.14/jquery-ui.min.js"></script>
<link rel="stylesheet" type="text/css" media="screen" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.14/themes/base/jquery-ui.css">


<script type="text/javascript">
    var selectedSlotWeek0 = new Array();
    var selectedSlotWeek1 = new Array();
    var selectedSlotWeek2 = new Array();
    var selectedWeek = 0;
    var ToDay = new Date("@ViewBag.Today");
    var Trid;

    $(document).ready(function () {
        @foreach(string item in ViewBag.SlotBooked0)
        {
            @Html.Raw("selectedSlotWeek0.push('" + item + "');")
        }

        @foreach(string item in ViewBag.SlotBooked1)
        {
            @Html.Raw("selectedSlotWeek1.push('" + item + "');")
        }

        @foreach(string item in ViewBag.SlotBooked2)
        {
            @Html.Raw("selectedSlotWeek2.push('" + item + "');")

        }

        $('.slotpick tr td').removeClass('selectedSlot');
        for (i = 0; i < selectedSlotWeek0.length; i++) {
            jQuery('#' + selectedSlotWeek0[i]).addClass('selectedSlot');
        }
    });

    function SubmitSlot() {
        $.ajax({
            url: '@Url.Action("SaveSlot", "Tutor")',
            dataType: "json",
            type: "POST",
            contentType: 'application/json; charset=utf-8',
            traditional: true,
            data: JSON.stringify({ 'Week0': selectedSlotWeek0, 'Week1': selectedSlotWeek1, 'Week2': selectedSlotWeek2 }),
            success: function (data) {
                alert(data);
            },
            error: function (xhr) {
                alert("Error");
            }
        });
    }

    function addSlot(slot) {
        if (selectedWeek == 1) {
            if (jQuery.inArray(slot, selectedSlotWeek1) < 0)
                selectedSlotWeek1.push(slot);
        } else if (selectedWeek == 2) {
            if (jQuery.inArray(slot, selectedSlotWeek2) < 0)
                selectedSlotWeek2.push(slot);
        } else {
            if (jQuery.inArray(slot, selectedSlotWeek0) < 0)
                selectedSlotWeek0.push(slot);
        }

    }

    function removeSlot(index) {
        if (selectedWeek == 1)
            selectedSlotWeek1.splice(index, 1);
        else if (selectedWeek == 2)
            selectedSlotWeek2.splice(index, 1);
        else
            selectedSlotWeek0.splice(index, 1);
    }

    // Adds a date if we don't have it yet, else remove it
    function addOrRemoveDate(slot) {
        var day = slot.substring(0, 3);
        var pickeddate;


        if (selectedWeek == 1)
            var index = jQuery.inArray(slot, selectedSlotWeek1);
        else if (selectedWeek == 2)
            var index = jQuery.inArray(slot, selectedSlotWeek2);
        else {
            if (day == "Sun")
                pickeddate = new Date("@ViewBag.FirstDayOfWeek.AddDays(0).ToShortDateString()");
            else if (day == "Mon")
                pickeddate = new Date("@ViewBag.FirstDayOfWeek.AddDays(1).ToShortDateString()");
            else if (day == "Tue")
                pickeddate = new Date("@ViewBag.FirstDayOfWeek.AddDays(2).ToShortDateString()");
            else if (day == "Wed")
                pickeddate = new Date("@ViewBag.FirstDayOfWeek.AddDays(3).ToShortDateString()");
            else if (day == "Thu")
                pickeddate = new Date("@ViewBag.FirstDayOfWeek.AddDays(4).ToShortDateString()");
            else if (day == "Fri")
                pickeddate = new Date("@ViewBag.FirstDayOfWeek.AddDays(5).ToShortDateString()");
            else
                pickeddate = new Date("@ViewBag.FirstDayOfWeek.AddDays(6).ToShortDateString()");

            if (pickeddate >= ToDay)
                var index = jQuery.inArray(slot, selectedSlotWeek0);
            else
                alert("Bạn chỉ được chỉnh sửa từ ngày " + ToDay.toLocaleDateString() + " trở đi");
        }


        if (index >= 0)
            removeSlot(index);
        else
            addSlot(slot);
    }

    var lockPre = true;
    var lockNext = false;

    function preClick() {
        if (!lockPre) {
            selectedWeek = selectedWeek - 1;
            jQuery('#next-arrow').removeClass('disableArrow');
            if (selectedWeek == 0)
                document.getElementById("WeekSelect").innerHTML = "@ViewBag.CurrentWeek";
            else if (selectedWeek == 1)
                document.getElementById("WeekSelect").innerHTML = "@ViewBag.FirstWeek";
            else
                document.getElementById("WeekSelect").innerHTML = "@ViewBag.SecondWeek";
            changeWeek();
            if (selectedWeek == 0) {
                jQuery('#pre-arrow').addClass('disableArrow');
                lockPre = true;
            }
            else
                lockPre = false;
            lockNext = false;
        }
    }

    function nextClick() {
        if (!lockNext) {
            selectedWeek = selectedWeek + 1;
            jQuery('#pre-arrow').removeClass('disableArrow');
            if (selectedWeek == 0)
                document.getElementById("WeekSelect").innerHTML = "@ViewBag.CurrentWeek";
            else if (selectedWeek == 1)
                document.getElementById("WeekSelect").innerHTML = "@ViewBag.FirstWeek";
            else
                document.getElementById("WeekSelect").innerHTML = "@ViewBag.SecondWeek";
            changeWeek();
            lockPre = false;
            if (selectedWeek == 2) {
                lockNext = true;
                jQuery('#next-arrow').addClass('disableArrow');
            }
            else
                lockNext = false;
        }
    }

    function changeWeek() {
        if (selectedWeek == 1) {
            $('.slotpick tr td').removeClass('selectedSlot')
            for (i = 0; i < selectedSlotWeek1.length; i++) {
                jQuery('#' + selectedSlotWeek1[i]).addClass('selectedSlot');
            }
            document.getElementById("DateSun").innerHTML = "Chủ nhật <br /> @ViewBag.FirstDayOfWeek.AddDays(7).ToShortDateString()";
            document.getElementById("DateMon").innerHTML = "Thứ hai <br /> @ViewBag.FirstDayOfWeek.AddDays(8).ToShortDateString()";
            document.getElementById("DateTue").innerHTML = "Thứ ba <br /> @ViewBag.FirstDayOfWeek.AddDays(9).ToShortDateString()";
            document.getElementById("DateWed").innerHTML = "Thứ tư <br /> @ViewBag.FirstDayOfWeek.AddDays(10).ToShortDateString()";
            document.getElementById("DateThu").innerHTML = "Thứ năm <br /> @ViewBag.FirstDayOfWeek.AddDays(11).ToShortDateString()";
            document.getElementById("DateFri").innerHTML = "Thứ sáu <br /> @ViewBag.FirstDayOfWeek.AddDays(12).ToShortDateString()";
            document.getElementById("DateSat").innerHTML = "Thứ bảy <br /> @ViewBag.FirstDayOfWeek.AddDays(13).ToShortDateString()";
        }
        else if (selectedWeek == 2) {
            $('.slotpick tr td').removeClass('selectedSlot');
            for (i = 0; i < selectedSlotWeek2.length; i++) {
                jQuery('#' + selectedSlotWeek2[i]).addClass('selectedSlot');
            }
            document.getElementById("DateSun").innerHTML = "Chủ nhật <br /> @ViewBag.FirstDayOfWeek.AddDays(14).ToShortDateString()";
            document.getElementById("DateMon").innerHTML = "Thứ hai <br /> @ViewBag.FirstDayOfWeek.AddDays(15).ToShortDateString()";
            document.getElementById("DateTue").innerHTML = "Thứ ba <br /> @ViewBag.FirstDayOfWeek.AddDays(16).ToShortDateString()";
            document.getElementById("DateWed").innerHTML = "Thứ tư <br /> @ViewBag.FirstDayOfWeek.AddDays(17).ToShortDateString()";
            document.getElementById("DateThu").innerHTML = "Thứ năm <br /> @ViewBag.FirstDayOfWeek.AddDays(18).ToShortDateString()";
            document.getElementById("DateFri").innerHTML = "Thứ sáu <br /> @ViewBag.FirstDayOfWeek.AddDays(19).ToShortDateString()";
            document.getElementById("DateSat").innerHTML = "Thứ bảy <br /> @ViewBag.FirstDayOfWeek.AddDays(20).ToShortDateString()";
        } else {
            $('.slotpick tr td').removeClass('selectedSlot');
            for (i = 0; i < selectedSlotWeek0.length; i++) {
                jQuery('#' + selectedSlotWeek0[i]).addClass('selectedSlot');
            }
            document.getElementById("DateSun").innerHTML = "Chủ nhật <br /> @ViewBag.FirstDayOfWeek.AddDays(0).ToShortDateString()";
            document.getElementById("DateMon").innerHTML = "Thứ hai <br /> @ViewBag.FirstDayOfWeek.AddDays(1).ToShortDateString()";
            document.getElementById("DateTue").innerHTML = "Thứ ba <br /> @ViewBag.FirstDayOfWeek.AddDays(2).ToShortDateString()";
            document.getElementById("DateWed").innerHTML = "Thứ tư <br /> @ViewBag.FirstDayOfWeek.AddDays(3).ToShortDateString()";
            document.getElementById("DateThu").innerHTML = "Thứ năm <br /> @ViewBag.FirstDayOfWeek.AddDays(4).ToShortDateString()";
            document.getElementById("DateFri").innerHTML = "Thứ sáu <br /> @ViewBag.FirstDayOfWeek.AddDays(5).ToShortDateString()";
            document.getElementById("DateSat").innerHTML = "Thứ bảy <br /> @ViewBag.FirstDayOfWeek.AddDays(6).ToShortDateString()";
        }


    }

    $('.tableSlot').click(function () {
        if (selectedWeek == 0) {
            var SlotId = this.id;
            var day = SlotId.substring(0, 3);
            var pickeddate;
            if (day == "Sun")
                pickeddate = new Date("@ViewBag.FirstDayOfWeek.AddDays(0).ToShortDateString()");
            else if (day == "Mon")
                pickeddate = new Date("@ViewBag.FirstDayOfWeek.AddDays(1).ToShortDateString()");
            else if (day == "Tue")
                pickeddate = new Date("@ViewBag.FirstDayOfWeek.AddDays(2).ToShortDateString()");
            else if (day == "Wed")
                pickeddate = new Date("@ViewBag.FirstDayOfWeek.AddDays(3).ToShortDateString()");
            else if (day == "Thu")
                pickeddate = new Date("@ViewBag.FirstDayOfWeek.AddDays(4).ToShortDateString()");
            else if (day == "Fri")
                pickeddate = new Date("@ViewBag.FirstDayOfWeek.AddDays(5).ToShortDateString()");
            else
                pickeddate = new Date("@ViewBag.FirstDayOfWeek.AddDays(6).ToShortDateString()");
            if (pickeddate >= ToDay)
                $(this).toggleClass('selectedSlot');
        } else {
            $(this).toggleClass('selectedSlot');
        }



    });


    $('.slotpick tr td').live('mousemove', function () { $(this).addClass('onmouse'); })
    $('.slotpick tr td').live('mouseleave', function () { $(this).removeClass('onmouse'); })
</script>
<style>
    .onmouse {
        background-color: gray;
    }

    .selectedSlot {
        background-color: forestgreen;
    }

    .disableArrow {
        opacity: 0.4;
        cursor: no-drop;
    }
</style>