
@{
    ViewBag.Title = "ViewSchedule";
    Layout = "~/Views/Shared/_Layout_Tutor.cshtml";
}

<style>
    .onmouse {
        background-color: gray;
    }

    .availableSlot {
        background-color: greenyellow;
    }

    .colSelect {
        border-left-style: groove !important;
        border-right-style: groove !important;
        border-left-width: 2px !important;
        border-right-width: 2px !important;
    }

    .rowSelected {
        border-top-style: groove !important;
        border-bottom-style: groove !important;
        border-top-width: 2px !important;
        border-bottom-width: 2px !important;
    }

    .finishedSlot {
        background-color: skyblue;
    }

    .bookedSlot {
        background-color: gold;
    }

    .canceledSlot {
        background-color: tomato;
    }

    .disableArrow {
        opacity: 0.4;
        cursor: no-drop;
    }

    hr {
        border-color: rgba(0, 0, 0, 0.2);
        color: rgba(0, 0, 0, 0.2);
        background: rgba(0, 0, 0, 0.2);
    }
    .caps {
        text-transform: uppercase;
    }
</style>

<div class="well">
    <h3 class="caps">
        <strong>Lịch dạy</strong>
    </h3>
    <hr />
    <p>
        <div class="row">
            <div class="col-md-4">
                <b>Chọn tuần:</b> <input class="week-picker" id="WeekSelect" readonly="readonly">
            </div>
            <div class="col-md-8">
                <table>
                    <tr>
                        <td id="cmTd" style="background-color:greenyellow;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                        <td id="cmTd" class="text-left">: có thể đặt</td>
                        <td id="cmTd">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                        <td id="cmTd" style="background-color:skyblue;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                        <td id="cmTd" class="text-left">: đã kết thúc</td>
                        <td id="cmTd">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                        <td id="cmTd" style="background-color:gold;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                        <td id="cmTd" class="text-left">: đã được đặt</td>
                        <td id="cmTd">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                        <td id="cmTd" style="background-color:tomato;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                        <td id="cmTd" class="text-left">: đã bị hủy</td>
                    </tr>
                </table>
            </div>
            
        </div>
        <hr />
    </p>

    <table class="tableSlot slotpick" border="1" style="border-width:3px !important; margin:auto">
        <tr>
            <th></th>
            <th scope="col" style="width:75px;">Slot 1<br />08:00 - 08:45</th>
            <th scope="col" style="width:75px;">Slot 2<br />09:00 - 09:45</th>
            <th scope="col" style="width:75px;">Slot 3<br />10:00 - 10:45</th>
            <th scope="col" style="width:75px;">Slot 4<br />11:00 - 11:45</th>
            <th scope="col" style="width:75px;">Slot 5<br />13:00 - 13:45</th>
            <th scope="col" style="width:75px;">Slot 6<br />14:00 - 14:45</th>
            <th scope="col" style="width:75px;">Slot 7<br />15:00 - 15:45</th>
            <th scope="col" style="width:75px;">Slot 8<br />16:00 - 16:45</th>
            <th scope="col" style="width:75px;">Slot 9<br />19:00 - 19:45</th>
            <th scope="col" style="width:75px;">Slot 10<br />20:00 - 20:45</th>
            <th scope="col" style="width:75px;">Slot 11<br />21:00 - 21:45</th>
        </tr>
        <tr id="RowSun">
            <th scope="row" style="width:75px;" id="DateSun">Chủ nhật<br /> @ViewBag.FirstDayOfWeek.ToShortDateString()</th>
            @for (int i = 1; i <= 11; i++)
            {
                string temp = String.Format("{0:00}", i);
                <td class="tableSlot" id="Sun@(temp)"></td>
            }
        </tr>
        <tr id="RowMon">
            <th scope="row" style="width:75px;" id="DateMon">Thứ hai<br /> @ViewBag.FirstDayOfWeek.AddDays(1).ToShortDateString()</th>
            @for (int i = 1; i <= 11; i++)
            {
                string temp = String.Format("{0:00}", i);
                <td class="tableSlot" id="Mon@(temp)"></td>
            }
        </tr>
        <tr id="RowTue">
            <th scope="row" style="width:75px;" id="DateTue">Thứ ba<br /> @ViewBag.FirstDayOfWeek.AddDays(2).ToShortDateString()</th>
            @for (int i = 1; i <= 11; i++)
            {
                string temp = String.Format("{0:00}", i);
                <td class="tableSlot" id="Tue@(temp)"></td>
            }
        </tr>
        <tr id="RowWed">
            <th scope="row" style="width:75px;" id="DateWed">Thứ tư<br /> @ViewBag.FirstDayOfWeek.AddDays(3).ToShortDateString()</th>
            @for (int i = 1; i <= 11; i++)
            {
                string temp = String.Format("{0:00}", i);
                <td class="tableSlot" id="Wed@(temp)"></td>
            }
        </tr>
        <tr id="RowThu">
            <th scope="row" style="width:75px;" id="DateThu">Thứ năm<br /> @ViewBag.FirstDayOfWeek.AddDays(4).ToShortDateString()</th>
            @for (int i = 1; i <= 11; i++)
            {
                string temp = String.Format("{0:00}", i);
                <td class="tableSlot" id="Thu@(temp)"></td>
            }
        </tr>
        <tr id="RowFri">
            <th scope="row" style="width:75px;" id="DateFri">Thứ sáu<br /> @ViewBag.FirstDayOfWeek.AddDays(5).ToShortDateString()</th>
            @for (int i = 1; i <= 11; i++)
            {
                string temp = String.Format("{0:00}", i);
                <td class="tableSlot" id="Fri@(temp)"></td>
            }
        </tr>
        <tr id="RowSat">
            <th scope="row" style="width:75px;" id="DateSat">Thứ bảy<br /> @ViewBag.FirstDayOfWeek.AddDays(6).ToShortDateString()</th>
            @for (int i = 1; i <= 11; i++)
            {
                string temp = String.Format("{0:00}", i);
                <td class="tableSlot" id="Sat@(temp)"></td>
            }
        </tr>

    </table>
</div>


<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.1/jquery.js"></script>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.14/jquery-ui.min.js"></script>
<link rel="stylesheet" type="text/css" media="screen" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.14/themes/base/jquery-ui.css">

@Html.Partial("_LoadingData")

<script type="text/javascript">
    var selectedWeek = 0;
    var startDate;
    var endDate;
    var tutorId = @ViewBag.tutorId;

    function bindData() {
        $("#WeekSelect").attr("disabled", "disabled");
        $('.slotpick tr td').removeClass('availableSlot');
        $('.slotpick tr td').removeClass('finishedSlot');
        $('.slotpick tr td').removeClass('bookedSlot');
        $('.slotpick tr td').removeClass('canceledSlot');
        var items = document.getElementsByTagName('td');
        for (var i = 0; i < items.length; i++) {
            var x = "";
            var id = items[i].id;
            if(id != "cmTd")
                items[i].innerHTML = x;
        }
        LoadingData();

        $.ajax({
            url: '@Url.Action("GetBookedSlotByStudent", "Tutor")',
            dataType: "json",
            type: "POST",
            contentType: 'application/json; charset=utf-8',
            traditional: true,
            data: JSON.stringify({ 'startDate': startDate, 'endDate': endDate, 'TutorId': tutorId }),
            success: function (data) {
                $("#WeekSelect").removeAttr("disabled");

                for(i in data){
                    var stt = data[i].Status;
                    if(stt == 11)
                        jQuery('#' + data[i].tableSlotId).addClass('availableSlot');
                    else if(stt == 3)
                        jQuery('#' + data[i].tableSlotId).addClass('finishedSlot');
                    else if(stt == 4)
                        jQuery('#' + data[i].tableSlotId).addClass('bookedSlot');
                    else
                        jQuery('#' + data[i].tableSlotId).addClass('canceledSlot');

                    if(stt != 11){
                        var x = "<a href=GetSlotDetail/";
                        x += data[i].ScheduleId + ">";
                        x += data[i].StudentName + "<br>" + data[i].LessonName + "</a>";
                        document.getElementById(data[i].tableSlotId).innerHTML = x;
                    }
                }
                CloseLoading();

            },
            error: function (xhr) {
                $("#WeekSelect").removeAttr("disabled");
                CloseWithMess("Đã có lỗi xảy ra");
            }
        });
    }

    $(document).ready(function () {
        startDate = new Date("@ViewBag.FirstDayOfWeek.ToShortDateString()");
        endDate = new Date("@ViewBag.FirstDayOfWeek.AddDays(6).ToShortDateString()");
        $('#WeekSelect').val("@ViewBag.FirstDayOfWeek.ToShortDateString() - @ViewBag.FirstDayOfWeek.AddDays(6).ToShortDateString()");
        bindData(selectedWeek);
    });

    var days = ['Sun', 'Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat'];


    $('.tableSlot tr td').live('mousemove', function () {
        $(this).addClass('ui-state-hover');
        var id = this.id;
        var date = id.substring(0,3);
        var num = id.substring(3);

        for(i = 0 ; i< 7; i++){
            var temp = "";
            temp += days[i] + num;
            if(id != temp)
                jQuery('#' + temp).addClass('colSelect');
        }

        for(i = 1; i<= 11; i++){
            var temp = "";
            if(i < 10){
                temp += date + "0";
                temp += i;
            }else{
                temp += date + i;
            }
            if(id != temp)
                jQuery('#' + temp).addClass('rowSelected');
        }

    })
    $('.tableSlot tr td').live('mouseleave', function () {
        $(this).removeClass('ui-state-hover');
        var id = this.id;
        var date = id.substring(0,3);
        var num = id.substring(3);

        for(i = 0 ; i< 7; i++){
            var temp = "";
            temp += days[i] + num;
            if(id != temp)
                jQuery('#' + temp).removeClass('colSelect');
        }

        for(i = 1; i<= 11; i++){
            var temp = "";
            if(i < 10){
                temp += date + "0";
                temp += i;
            }else{
                temp += date + i;
            }
            if(id != temp)
                jQuery('#' + temp).removeClass('rowSelected');
        }
    })


    $( ".week-picker" ).datepicker({

        showOtherMonths: true,
        selectOtherMonths: true,
        changeMonth: true,
        changeYear: true,
        showWeek: true,
        beforeShowDay: function(date) {

            var cssClass = '';
            if(date >= startDate && date <= endDate)
                cssClass = 'ui-datepicker-current-day';
            return [true, cssClass];

        },
        onSelect: function(dateText, inst) {
            var date = new Date(dateText);
            startDate = new Date(date.getFullYear(), date.getMonth(), date.getDate() - date.getDay());
            endDate = new Date(date.getFullYear(), date.getMonth(), date.getDate() - date.getDay() + 6);

            $('#WeekSelect').val(startDate.toLocaleDateString() + " - " + endDate.toLocaleDateString());

            var d = new Date();

            document.getElementById("DateSun").innerHTML = "Chủ nhật <br />"+ startDate.toLocaleDateString();
            d = new Date(startDate.getTime()+(1*24*60*60*1000));
            document.getElementById("DateMon").innerHTML = "Thứ hai <br /> "+ d.toLocaleDateString();
            d = new Date(d.getTime()+(1*24*60*60*1000));
            document.getElementById("DateTue").innerHTML = "Thứ ba <br /> "+ d.toLocaleDateString();
            d = new Date(d.getTime()+(1*24*60*60*1000));
            document.getElementById("DateWed").innerHTML = "Thứ tư <br /> "+ d.toLocaleDateString();
            d = new Date(d.getTime()+(1*24*60*60*1000));
            document.getElementById("DateThu").innerHTML = "Thứ năm <br /> " + d.toLocaleDateString();
            d = new Date(d.getTime()+(1*24*60*60*1000));
            document.getElementById("DateFri").innerHTML = "Thứ sáu <br /> "+ d.toLocaleDateString();
            d = new Date(d.getTime()+(1*24*60*60*1000));
            document.getElementById("DateSat").innerHTML = "Thứ bảy <br /> " + d.toLocaleDateString();

            bindData();
        }
    });



    $(".ui-datepicker-calendar tr").live("mousemove", function() {
        $(this).find("td a").addClass("ui-state-hover");
        $(this).find(".ui-datepicker-week-col").addClass("ui-state-hover");
    });
    $(".ui-datepicker-calendar tr").live("mouseleave", function() {
        $(this).find("td a").removeClass("ui-state-hover");
        $(this).find(".ui-datepicker-week-col").removeClass("ui-state-hover");
    });
</script>

