@{ 
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-theme.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/assets/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/assets/css/form-elements.css">
    <link rel="stylesheet" href="~/assets/css/style.css">

    <!-- Favicon and touch icons -->
    <link rel="shortcut icon" href="~/assets/images/icon.png" type="image/x-icon">
    <title>@ViewBag.Title</title>
</head>
<body>
    <div>
        @{
            var userName = HttpContext.Current.User.Identity.Name;
            if (userName != "")
            {
                <nav class="navbar navbar-inverse">
                    <div class="container-fluid">
                        <div class="navbar-header">
                            <a class="navbar-brand" style="margin-top: 8px" href="@Url.Action("Index", "Home")">Happy Cake Store</a>
                        </div>
                        <ul class="nav navbar-nav navbar-right">
                            <li>
                                <a href="@Url.Action("Logout", "Account")">
                                    <span class="glyphicon glyphicon-log-in"></span>@HttpContext.Current.User.Identity.Name Log Out
                                </a>
                            </li>
                        </ul>
                    </div>
                </nav>
            }
        }

        @if (TempData["message"] != null)
        {
            <div class="alert alert-success">@TempData["message"]</div>
        }

        @RenderBody()
    </div>

    <!-- Javascript -->
    <script src="~/assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/assets/js/jquery.backstretch.min.js"></script>
    <script src="~/assets/js/scripts.js"></script>
</body>
</html>
