<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="generator" content="Mobirise v3.12.1, mobirise.com">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="~/assets/images/icon.png" type="image/x-icon">
    <title>@ViewBag.Title - Happy Cake Store</title>
    
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic&amp;subset=latin">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,700">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i">
    <link rel="stylesheet" href="~/assets/bootstrap-material-design-font/css/material.css">
    <link rel="stylesheet" href="~/assets/et-line-font-plugin/style.css">
    <link rel="stylesheet" href="~/assets/web/assets/mobirise-icons/mobirise-icons.css">
    <link rel="stylesheet" href="~/assets/tether/tether.min.css">
    <link rel="stylesheet" href="~/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/assets/animate.css/animate.min.css">
    <link rel="stylesheet" href="~/assets/dropdown/css/style.css">
    <link rel="stylesheet" href="~/assets/theme/css/style.css">
    <link rel="stylesheet" href="~/assets/mobirise-gallery/style.css">
    <link rel="stylesheet" href="~/assets/mobirise/css/mbr-additional.css" type="text/css">
</head>
<body>
    <section id="menu-0">
        <nav class="navbar navbar-dropdown bg-success transparent navbar-fixed-top">
            <div class="container">
                <div class="mbr-table">
                    <div class="mbr-table-cell">
                        <div class="navbar-brand">
                            <a class="navbar-logo" href="@Url.Action("Index", "Home")">
                                <img src="~/assets/images/icon.png" alt="happycakestore@gmail">
                            </a>
                            <a class="navbar-caption text-black" href="@Url.Action("Index", "Home")">HAPPY CAKE STORE<br></a>
                        </div>
                    </div>
                    <div class="mbr-table-cell">
                        <button class="navbar-toggler pull-xs-right hidden-md-up" type="button" data-toggle="collapse" data-target="#exCollapsingNavbar">
                            <div class="hamburger-icon"></div>
                        </button>
                        <ul class="nav-dropdown collapse pull-xs-right nav navbar-nav navbar-toggleable-sm" id="exCollapsingNavbar">
                            <li class="nav-item"><a class="nav-link link text-black" href="@Url.Action("Index", "Home")">HOME<br></a></li>
                            <li class="nav-item"><a class="nav-link link text-black" href="@Url.Action("List", "Product")"><span class="mbri-cart-add mbr-iconfont mbr-iconfont-btn"></span>ORDER</a></li>
                            <li class="nav-item">
                                <a href="@Url.Action("Index", "Admin")" class="nav-link link text-black"><span class="mbri-login mbr-iconfont mbr-iconfont-btn"></span>ADMIN LOGIN<br></a>
                            </li>
                        </ul>
                        <button hidden="" class="navbar-toggler navbar-close" type="button" data-toggle="collapse" data-target="#exCollapsingNavbar">
                            <div class="close-icon"></div>
                        </button>
                    </div>
                </div>
            </div>
        </nav>
    </section>
    @RenderBody()
    <footer>
        <section class="mbr-section mbr-section-md-padding mbr-footer footer2" id="contacts2-2" style="background-color: rgb(46, 46, 46); padding-top: 90px; padding-bottom: 90px;">
            <div class="container">
                <div class="row">
                    <div class="mbr-footer-content col-xs-12 col-md-3">
                        <p>
                            <strong>Address</strong><br>Dien Bien Phu street<br>Da Nang city<br><br><br>
                            <strong>Contacts</strong><br>
                            Email: happycakestore@gmail.com.vn<br>
                            Phone: (+84) 1666 432 971<br>
                            Fax: +1 (0) 000 0000 002
                        </p>
                    </div>
                    <div class="mbr-footer-content col-xs-12 col-md-3"><font color="#7c7c7c" face="Montserrat, sans-serif"><span style="letter-spacing: -1px; line-height: 20px;"><strong>Our Location</strong></span></font></div>
                    <div class="col-xs-12 col-md-6">
                        <div class="mbr-map"><iframe frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?key=AIzaSyA0Dx_boXQiwvdz8sJHoYeZNVTdoWONYkU&amp;q=place_id:EjjEkGnhu4duIEJpw6puIFBo4bunLCBUaGFuaCBLaMOqLCDEkMOgIE7hurVuZywgVmnhu4d0IE5hbQ" allowfullscreen=""></iframe></div>
                    </div>
                </div>
            </div>
        </section>
    </footer>
    
    <!--JS-->
    <script src="~/assets/web/assets/jquery/jquery.min.js"></script>
    <script src="~/assets/tether/tether.min.js"></script>
    <script src="~/assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/assets/smooth-scroll/smooth-scroll.js"></script>
    <script src="~/assets/viewport-checker/jquery.viewportchecker.js"></script>
    <script src="~/assets/masonry/masonry.pkgd.min.js"></script>
    <script src="~/assets/imagesloaded/imagesloaded.pkgd.min.js"></script>
    <script src="~/assets/bootstrap-carousel-swipe/bootstrap-carousel-swipe.js"></script>
    <script src="~/assets/dropdown/js/script.min.js"></script>
    <script src="~/assets/touch-swipe/jquery.touch-swipe.min.js"></script>
    <script src="~/assets/theme/js/script.js"></script>
    <script src="~/assets/mobirise-gallery/player.min.js"></script>
    <script src="~/assets/mobirise-gallery/script.js"></script>

    <input name="animation" type="hidden">
</body>
</html>