@model TutorOnline.Web.Models.LessonViewModels

@{
    ViewBag.Title = "Thêm bài học";
    Layout = "~/Views/Shared/_Layout_BackendUser.cshtml";
    ViewBag.subId = ViewBag.subId;
}

@using (Html.BeginForm("Create", "Lessons", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <h3>Thêm bài học</h3>
        <hr />

        <div class="form-group">
            <p class="control-label col-md-2">Tên bài học: </p>
            <div class="col-md-10">
                @Html.EditorFor(model => model.LessonName, new { htmlAttributes = new { @class = "form-control", style = "width:200px;" } })
                @Html.ValidationMessageFor(model => model.LessonName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <p class="control-label col-md-2">Thuộc khóa học: </p>
            <div class="col-md-10">
                @Html.DropDownList("SubjectId", null, htmlAttributes: new { @class = "form-control", style = "width:200px;", @disabled = "disabled" })
                @Html.ValidationMessageFor(model => model.SubjectId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <p class="control-label col-md-2">Nội dung: </p>
            <div class="col-md-10">
                @Html.EditorFor(model => model.Content, new { htmlAttributes = new { @class = "form-control", style = "width:300px; height: 50px;" } })
                @Html.ValidationMessageFor(model => model.Content, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Thêm bài học" class="btn btn-success" />
                @Html.ActionLink("Trở lại", "Details", "Subjects", new { id = ViewBag.subId }, new { @class = "btn btn-default" })
            </div>
        </div>
    </div>
}
