@model TutorOnline.Web.Models.QuestionViewModels

@{
    ViewBag.Title = "Xóa câu hỏi trắc nghiệm của bài học";
    Layout = "~/Views/Shared/_Layout_BackendUser.cshtml";
}

<div>
    <h3>Xóa câu hỏi trắc nghiệm của bài học</h3>
    <hr />
    <dl class="dl-horizontal">
        <dt>Thuộc bài học:</dt>
        <dd>@Html.DisplayFor(modelItem => modelItem.lessonName)</dd>
        <dt>Hình ảnh:</dt>
        @if (String.IsNullOrEmpty(Model.Photo))
        {
            <dd>
                @("N/A")
            </dd>
        }
        else
        {
            <dd>
                <img src="~/Content/Uploads/Images/Thumbnails/@Model.Photo.Substring(3)" />
            </dd>
        }
        <dt>Nội dung câu hỏi:</dt>
        <dd>@Html.DisplayFor(modelItem => modelItem.Content)</dd>
    </dl>
    <br />
    <div class="alert alert-danger">
        Bạn có chắc chắn muốn câu hỏi trắc nghiệm này?
    </div>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <div class="form-actions no-color">
            <input type="submit" value="Xóa câu hỏi" class="btn btn-danger" />
            @Html.ActionLink("Trở lại", "Details", new { id = Model.QuestionId, subId = ViewBag.subId }, new { @class = "btn btn-default" })
        </div>
    }
</div>
