@model PagedList.IPagedList<TutorOnline.Web.Models.TutorInfoViewModels>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
    ViewBag.Title = "Quản lý danh sách gia sư";
    Layout = "~/Views/Shared/_Layout_BackendUser.cshtml";
    ViewBag.Count = 0;
}

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <h3 style="margin-bottom: -10px;">Quản lý gia sư</h3>
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col-md-12">
            <h4 class="text-primary">Hiện tại hệ thống đang có <strong>@ViewBag.tutorIsActived</strong> gia sư đang hoạt động.</h4>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-md-3">
            <button type="button" class="btn btn-info"><span class="glyphicon glyphicon-user"></span> Gia sư ứng tuyển <span class="badge">@ViewBag.allPretutor</span></button>
        </div>
        <div class="col-md-4">
            <button type="button" class="btn btn-info"><span class="glyphicon glyphicon-plus-sign"></span> Gia sư đăng ký thêm khóa dạy <span class="badge">@ViewBag.tutorSignNewSub</span></button>
        </div>
    </div>
    <br/>
    <div class="row">
        @using (Html.BeginForm("Index", "TutorManagement", FormMethod.Get))
        {
            <dl>
                <dt style="margin-left: 20px; margin-bottom: 10px;">Môn học</dt>
                <dd>
                    <div class="col-md-3">
                        @Html.DropDownList("cateString", null, "--Tất cả môn học--", htmlAttributes: new { @class = "form-control", style = "width: 160px;" })
                    </div>
                    <div class="col-md-8">
                        <div class="input-group">
                            @Html.TextBox("searchString", null, htmlAttributes: new { @class = "form-control", @placeholder = "Tìm kiếm tên gia sư..."})
                            <span class="input-group-btn">
                                <input type="submit" value="Tìm Kiếm" class="btn btn-default" name="btnSearch" />
                            </span>
                        </div>
                    </div>
                </dd>
            </dl>
        }
    </div>
    <br />
    @if (@ViewBag.totalRecord > 0)
    {
        <div class="row">
            <div class="col-md-12">
                <h4>Tìm thấy @ViewBag.totalRecord kết quả.</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <table class="table table-striped">
                    <tr>
                        <th>STT</th>
                        <th>Họ và tên</th>
                        <th>Giới tính</th>
                        <th>Email</th>
                        <th>Thành phố</th>
                        <th>Lương/1 buổi dạy</th>
                    </tr>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@(ViewBag.Count++ + 1)</td>
                            <td>@Html.ActionLink(item.FullName, "DetailsTutor", new { id = item.TutorId })</td>
                            <td>@Html.DisplayFor(modelItem => item.Gender)</td>
                            <td>@Html.DisplayFor(modelItem => item.Email)</td>
                            <td>@Html.DisplayFor(modelItem => item.City)</td>
                            <td>@Html.DisplayFor(modelItem => item.Salary)</td>
                        </tr>
                    }
                </table>
                Trang @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) trên @Model.PageCount
                @Html.PagedListPager(Model, page => Url.Action("Index",
                                 new { page, searchString = ViewBag.searchStr, cateString = ViewBag.cateStr }))
            </div>
        </div>
    }
    else if (@ViewBag.btnSearch != null && ViewBag.totalRecord == 0)
    {
        <div class="row">
            <div class="col-md-12">
                <h4>Tìm thấy @ViewBag.totalRecord kết quả</h4>
            </div>
        </div>
    }
</div>